input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
textarea {
    font-family: $base-font-family;
    width: 100%;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    &:focus {
        outline: 0;
    }
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
    font-family: $base-font-family;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background: transparent;

    &:focus {
        outline: none;
    }
}

.form-wrap {
    position: relative;
}

.form-label {
    @include ycenter;
    @include anim;
    left: $form-hor-padding-sm;
    font-size: 16px;
    font-weight: 400;
}

.form-control {
    @include anim;
    height: 66px;
    border-radius: 10px !important;
    border: 0;
    display: block;
    width: 100%;
    background-color: $form-control-bg;
    font-size: 16px;
    line-height: 1;
    padding: 0 $form-hor-padding-sm;
    color: $theme-color-01;

    @include placeholder {
        color: $footer-txt-cr;
    }

    &:focus {
        box-shadow: inset 0 0 0 1px $theme-color-02;
        outline: none;
        padding-top: 10px;

        & + .form-label {
            font-size: 12px;
            transform: translateY(-50%) translateY(-15px);
        }
    }

    &:not(:placeholder-shown) {
        padding-top: 13px;

        & + .form-label {
            font-size: 12px;
            transform: translateY(-50%) translateY(-15px);
        }
    }

    &.error {
        box-shadow: inset 0 0 0 1px $cr-error;
    }
}

textarea {
    min-height: 140px;
    max-height: 700px;
    width: 100%;
    resize: vertical;
    vertical-align: top;
    overflow: auto;
}
select {
    color: $base-text-color;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-left: 10px !important;

    &::-ms-expand {
        display: none;
    }
}

input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    visibility: hidden;

    & + label {
        display: inline-block;
        position: relative;
        padding-left: 26px;

        &:before {
            @include anim;
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            border-radius: 5px;
            flex: 0 0 16px;
            width: 17px;
            height: 17px;
            border: 1px solid #fff;
            background-color: #7d89a9;
            transform: translate3d(0,0,0);
        }
    }

    &:checked {
        & + label {
            &:before {
                background-color: rgba(#7d89a9, .5);
            }

            &:after {
                content: '';
                border: solid #f4ac01;
                border-width: 0 2px 2px 0;
                position: absolute;
                left: 7px;
                top: -1px;
                width: 8px;
                height: 15px;
                transform: rotate(45deg);
            }
        }
    }
}

input[type="radio"] {
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    visibility: hidden;
    & + label {
        display: inline-flex;

        &:before {
            @include anim;
            content: '';
            margin: 2px 8px 0 0;
            display: inline-block;
            border-radius: 50%;
            flex: 0 0 1em;
            width: 1em;
            height: 1em;
            border: 1px solid $border-color;
            background-color: #fff;
        }
    }
    &:checked {
        & + label {
            &:before {
                background-color: $theme-color-03;
                box-shadow: inset 0 0 0 3px #fff;
            }
        }
    }
}

.custom-select {
    background-color: $theme-color-05;
    border-radius: 10px;
    height: 66px;
    position: relative;

    /*&:after {
        @include ycenter;
        right: 20px;
        content: '';
        background-color: $footer-txt-cr;
        -webkit-mask: url(../images/arrow-next.svg) no-repeat center;
        mask: url(../images/arrow-next.svg) no-repeat center;
        width: 7px;
        height: 12px;
        transform: translateY(-50%) rotate(90deg);
    }*/

    select {
        font-family: $base-font-family;
        @include ycenter;
        left: 0;
        padding-left: calc(#{$form-hor-padding-sm} - 7px) !important;
        background: none;
        border: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
        color: $theme-color-01;

        &.selected {
            & ~ .form-label {
                font-size: 12px;
                transform: translateY(-50%) translateY(-15px);
            }
        }
    }

    .form-label {
        pointer-events: none;
    }

    .select2-container {
        height: 100%;
        width: 100% !important;
    }
}

//
//select2 select2-container select2-container--default select2-container--focus
//select2 select2-container select2-container--default select2-container--below select2-container--focus

.select2-container--default {
    select.error ~ &:not(.select2-container--open) {
        .select2-selection--single {
            box-shadow: inset 0 0 0 1px $cr-error;
            border-radius: 10px;
        }
    }

    &.select2-container--open {
        .select2-selection--single {
            border-radius: 10px 10px 0 0;
            background-color: #fff;
            border: solid $theme-color-02;
            border-width: 1px 1px 0;

            .select2-selection__arrow {
                &:after {
                    background-color: $theme-color-02;
                    transform: translateY(-50%) rotate(90deg) scaleX(-1);
                }
            }
        }
    }

    .select2-selection--single {
        border: 0;
        font-size: 16px;
        background-color: transparent;
        border-radius: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .select2-selection__arrow {
            height: 100%;
            top: 0;
            right: 0;

            &:after {
                @include ycenter;
                right: 20px;
                content: '';
                background-color: $footer-txt-cr;
                -webkit-mask: url(../images/arrow-next.svg) no-repeat center;
                mask: url(../images/arrow-next.svg) no-repeat center;
                width: 8px;
                height: 12px;
                transform: translateY(-50%) rotate(90deg);
            }

            b {
                display: none;
            }
        }

        .select2-selection__rendered {
            padding-top: 12px;
            padding-left: 20px;
        }
    }
}

.select2-container--default .select2-results__option--selected {
    background-color: transparent;
}

.select2-dropdown {
    border-color: $theme-color-02;
    border-radius: 0 0 10px 10px;
}

.select2-results__option {
    border-top: 1px solid $theme-color-05;
    font-size: 16px;
    line-height: 1.25;
    padding: 14px 20px;
    color: $theme-color-01;

    &:last-child {
        border-radius: 0 0 10px 10px;
    }
}

.select2-container--default {
    .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: $theme-color-05;
        color: $theme-color-01;
    }
}
