.icons-sprite {
    position: absolute;
    height: 0;
    overflow: hidden;
}
.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    max-width: 1em;
    flex: 0 0 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-cta-block,
svg[class*="-decor"] {
    pointer-events: none;
}
