.bottom-blocks {
    overflow: hidden;
    background-color: $disabled-bg;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% auto;
    min-height: 840px;

    .webp & {
        background-image: url(../images/bottom-bg-mob.webp);

        @include media('>=tablet') {
            background-image: url(../images/bottom-bg-tab.webp);
        }

        @include media('>=widescreen') {
            background-image: url(../images/bottom-bg.webp);
        }
    }

    body:not(.webp) & {
        background-image: url(../images/bottom-bg-mob.png);

        @include media('>=tablet') {
            background-image: url(../images/bottom-bg-tab.png);
        }

        @include media('>=widescreen') {
            background-image: url(../images/bottom-bg.png);
        }
    }
}
