@import 'main-nav';

:root {
    --scrollbar-width: 0;
}

.header {
    padding-top: 14px;
    padding-bottom: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: calc(100vw - var(--scrollbar-width));
    z-index: 999;

    /*.scrolled & {
        background-color: rgba(#fff, .8);
    }*/

    @include media('>=desktop') {
        position: absolute;
        padding-top: 40px;
        padding-bottom: 25px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('<desktop') {
        max-width: 83.073vw;
    }

    @include media('<phone') {
        max-width: none;
    }

    @include media('>=largescreen') {
        padding-right: 115px;
    }
}

.logo {
    width: 44px;
    height: 44px;

    @include media('<desktop') {
        position: relative;
        z-index: 9999;
    }

    @include media('>=widescreen') {
        width: 135px;
        height: 47px;
    }
}

.header__btns {
    display: flex;
    align-items: center;

    @include media('<desktop') {
        margin-right: auto;
        margin-left: 40px;
    }

    @include media('<phablet') {
        margin-left: 7px;
    }
}

.btn-callback {
    @include media('<desktop') {
        min-width: 173px;
    }
}

.header__phone {
    font-size: 16px;
    line-height: 1;
    color: $theme-color-01;
    text-decoration: none;

    @include media('<desktop') {
        display: none;
    }

    @include media('>=desktop') {
        margin-right: 31px;
    }
}

.main-nav {
    @include media('>=desktop') {
        margin-right: auto;
        margin-left: 5.729vw;
    }
}

.main-nav__list {
    @extend %listreset;

    @include media('>=desktop') {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        @include media('<desktop') {
            text-align: center;
            margin-bottom: 26px;
        }

        &:not(:first-child) {
            @include media('>=desktop') {
                margin-left: 3.183vw;
            }

            @include media('>=largescreen') {
                margin-left: 2.0833vw;
            }
        }
    }
}

.main-nav__link {
    color: $theme-color-01;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;

    @include media('<desktop') {
        font-size: 24px;
        font-weight: 500;
    }
}
