* {
    box-sizing: border-box
}

body {
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: 1.25;
    color: $base-text-color;
    background-color: $base-bg-color;
}

a {
    text-decoration: none;
    color: $link-color;

    &:not([class*="btn-"]):not([class*="link-"]) {
        @include hover {
            text-decoration: underline;
            color: $link-color;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

img,
video,
iframe {
    vertical-align: top;
}

strong, b {
    font-weight: 700;
}

.h,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top
}

@keyframes scale-animation {
    0% {
        transform: scale(1)
    }

    20% {
        transform: scale(1.1)
    }

    40% {
        transform: scale(1)
    }
}
