.certificate {
    position: relative;
    margin-bottom: 52px;

    @include media('<desktop') {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include media('>=desktop') {
        padding-top: 11.4583vw;
        margin-bottom: 16.458vw;
    }
}

.certificate__txt {
    max-width: 590px;
    position: relative;
    z-index: 2;

    @include media('<desktop') {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.certificate__ttl {
    margin-bottom: 20px;
}

.certificate__descr {
    margin-bottom: 38px;

    @include media('<tablet') {
        order: -1;
    }
}

.certificate__img {
    @include media('<desktop') {
        max-width: 75.521vw;
        margin: 0 auto 31px;
        order: -1;
    }

    @include media('>=desktop') {
        position: absolute;
        top: 56px;
        right: -22.2%;
        max-width: 69.84375vw;
    }

    @include media('>=largescreen') {
        right: -15.8%;
    }
}
