.cookie {
    @include adaptive-font(10, 12);
    @include xcenter;
    position: fixed;
    background-color: rgba($disabled-bg, .9);
    border-radius: 10px;
    bottom: 5px;
    padding: 10px;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 94.667vw;

    @include media('>=tablet') {
        max-width: 79.1667vw;
    }

    @include media('>=widescreen') {
        align-items: center;
        padding: 12px 20px;
        max-width: 1080px;
    }
}

.cookie__btn-close {
    color: $disabled-cr;

    @include media('<tablet') {
        font-size: 20px;
        order: -1;
        margin-right: 10px;
    }

    @include media('>=tablet') {
        font-size: 22px;
        margin-left: 20px;
    }
}

.cookie__txt {
    margin-bottom: 0;
}
