$hits-gutter: 16px;

.diet {
    padding-bottom: 52px;

    @include media('>=tablet') {
        padding-bottom: 77px;
    }

    @include media('>=desktop') {
        padding-bottom: 62px;
    }

    .tabs {
        &:not(:last-child) {
            margin-bottom: 40px;

            @include media('>=desktop') {
                margin-bottom: 80px;
            }
        }
    }
}

.diet__heading {
    display: flex;

    @include media('<desktop') {
        flex-direction: column;
        align-items: center;
    }

    @include media('>=desktop') {
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 49px;
    }

    .diet__link-help {
        @include media('<desktop') {
            display: none;
        }
    }
}

.diet__ttl {
    @include media('<desktop') {
        margin-bottom: 40px;
    }

    @include media('>=desktop') {
        margin-bottom: -7px;
    }
}

.diet__tabs {
    .diet__link-help {
        @include media('>=desktop') {
            display: none;
        }
    }

    .tabs__nav-holder {
        @include media('<desktop') {
            margin-bottom: 30px;
        }
    }
}

.diet__tabs-nav {
    @include media('<desktop') {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.diet__link-help {
    font-weight: 500;

    @include media('>=desktop') {
        margin-right: auto;
        margin-left: 40px;
    }

    @include hover {
        text-decoration: underline;
    }
}

.diet-filter {
    display: flex;

    @include media('<desktop') {
        order: -1;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 27px;
    }

    @include media('>=desktop') {
        align-items: flex-end;
        margin-right: -3px;
        margin-bottom: -9px;
    }
}

.diet-filter__ttl {
    color: $disabled-cr;
    font-weight: 500;
    font-size: 16px;

    @include media('<desktop') {
        width: 100%;
        text-align: center;
        margin-bottom: 8px;
    }

    @include media('>=desktop') {
        margin-right: 27px;
        margin-bottom: 9px;
    }
}

.diet-filter-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid $disabled-cr;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
        background-color: #f1f9f7;
        border-color: $theme-color-02;
    }

    &.is-active {
        background-color: $theme-color-04;
        border-color: $theme-color-02;
    }
}

.diet-details {
    display: flex;

    @include media('<desktop') {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include media('>=tablet','<desktop') {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    @include media('>=desktop') {
        justify-content: space-between;
    }

    &.is-inactive,
    &.is-inactive *:not(a) {
        pointer-events: none;
        color: $disabled-cr !important;
    }

    &.is-inactive a {
        pointer-events: auto;
    }

}

.diet-images {
    @include media('<desktop') {
        display: none;
    }

    @include media('>=desktop') {
        flex: 0 0 289px;
        max-width: 289px;
        overflow: hidden;
        position: relative;
    }

    .swiper-wrapper {
        height: auto;
    }
}

.diet-images__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 18px;

    .swiper-pagination-bullet {
        @include anim;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: 10px;
        background-color: $disabled-cr;

        @include hover {
            background-color: $theme-color-02;
        }

        &.swiper-pagination-bullet-active {
            background-color: $theme-color-02;
        }
    }
}

.diet-descr {
    @include media('<desktop') {
        order: 1;
    }

    @include media('>=desktop') {
        display: flex;
        flex-direction: column;
        max-width: 332px;
        flex: 0 0 332px;
    }
}

.diet-descr__ttl {
    color: $theme-color-01;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.diet-desr__txt {
    @include media('>=desktop') {
        margin-bottom: 115px;
    }
}

.diet-descr__days-ttl {
    color: $theme-color-01;
    margin-top: auto;
    margin-bottom: 11px;
}

.diet-descr__days-choose {
    margin-bottom: 30px;

    input[type="radio"] {
        display: block;

        & + label {
            @include anim;
            cursor: pointer;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            color: $theme-color-01;
            background-color: $theme-color-05;
            border: 1px solid $theme-color-05;
            margin-left: 1px;
            margin-right: 1px;

            @include hover {
                background-color: $theme-color-04;
            }

            &:after,
            &:before {
                display: none;
            }
        }

        &:checked {
            & + label {
                border-color: $theme-color-02;
                background-color: $theme-color-04;
            }
        }
    }
}

.diet-params {
    @include media('>=desktop') {
        max-width: 310px;
        flex: 0 0 310px;
    }
}

.diet-params__block {
    margin-bottom: 20px;
}

.diet-params__heading {
    margin-bottom: 11px;
    color: $theme-color-01;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.diet-params__ttl {
    margin-right: 20px;
}

input.diet-param-item {
    & + label {
        @include anim;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        color: $theme-color-01;
        background-color: $theme-color-05;
        border: 1px solid $theme-color-05;
        min-height: 39px;
        padding: 5px 15px;
        margin-bottom: 10px;

        @include hover {
            background-color: $theme-color-04;
        }

        &:after,
        &:before {
            display: none;
        }
    }

    &:checked {
        & + label {
            border-color: $theme-color-02;
            background-color: $theme-color-04;
        }
    }
}

.diet-total {
    border-top: 2px solid $theme-color-05;
    padding-top: 20px;

    @include media('<desktop') {
        margin-left: -$side-gutters-sm;
        margin-right: -$side-gutters-sm;
    }
}

.diet-total__container {
    display: flex;
    align-items: center;

    @include media('>=tablet','<desktop') {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    @include media('<desktop') {
        flex-wrap: wrap;
        padding-left: 34px;
        padding-right: 34px;
    }

    @include media('>=desktop') {
        max-width: 765px;
        margin-left: auto;
        justify-content: space-between;
    }
}

.diet-total__summ {
    color: $theme-color-01;
    font-size: 31px;
    font-weight: 600;

    @include media('>=desktop') {
        margin-right: auto;
        margin-left: 30px;
    }

    @include media('<desktop') {
        order: -1;
        margin-right: 30px;
    }
}

.diet-total__col {
    margin-bottom: -11px;

    @include media('>=desktop') {
        max-width: 310px;
        flex: 0 0 310px;
    }

    @include media('<desktop') {
        width: 100%;
        margin-top: 20px;
    }
}

.diet-total-param {
    font-size: 14px;
    font-weight: 700;
    color: $theme-color-01;
}

.diet-total-param__item {
    margin-right: 20px;
    margin-bottom: 11px;
    display: inline-block;
}




.diet-weekly {
    .swiper-pagination {
        @include media('>=desktop') {
            display: none;
        }
    }
}

.diet-weekly__ttl {
    color: $theme-color-01;
    font-size: 24px;
    font-weight: 700;
}

.diet-weekly__ttl,
.diet-weekly__heading {
    /*@include media('>=phone', '<phablet') {
        padding-left: 25vw;
    }*/

    @include media('>=phablet', '<desktop') {
        padding-left: 27.333vw;
    }
}

.diet-weekly__heading {
    margin-bottom: 40px;

    @include media('>=desktop') {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.diet-weekly__tabs {
    @include media('<desktop') {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        display: flex;
        margin-right: -15px;
        margin-bottom: 30px;
    }
}

.diet-weekly__tab-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: $theme-color-01;
    background-color: $theme-color-05;
    border: 1px solid $theme-color-05;
    min-height: 39px;
    padding: 5px 15px;

    @include media('<desktop') {
        white-space: nowrap;

        &:not(:first-child) {
            margin-left: 6px;
        }
    }

    @include hover {
        background-color: $theme-color-04;
    }

    &.is-active {
        border-color: $theme-color-02;
        background-color: $theme-color-04;
    }
}

.products-swiper {
    @include media('>=phablet', '<desktop') {
        margin-left: -7vw;
    }
}
