.faq {
    position: relative;
    z-index: 1;

    @include media('<desktop') {
        max-width: 580px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 77px;
    }

    @include media('>=desktop') {
        display: flex;
        justify-content: space-between;
    }
}

.faq__heading {
    @include media('>=desktop') {
        max-width: 46.667%;
        flex: 0 0 46.667%;
    }
}

.faq__descr {
    @include media('<desktop') {
        @include xcenter;
        min-width: 315px;
        text-align: center;
        font-size: 15px;
        bottom: 0;
    }
}

.faq__ttl {
    margin-bottom: 20px;
}

.faq__content {
    @include media('>=desktop') {
        padding-top: 15px;
        max-width: 47.32%;
        flex: 0 0 47.32%;
        margin-right: 3.5%;
    }
}

.faq-item {
    border-bottom: 2px solid $theme-color-05;
}

.faq-item__q {
    @include adaptive-font(16, 20);
    cursor: pointer;
    font-weight: 700;
    color: $theme-color-01;
    position: relative;
    padding: 16px 50px 16px 20px;

    &:after {
        @include ycenter;
        content: '';
        right: 22px;
        background-color: $theme-color-02;
        // two mask for smooth loading only (don't delete)
        -webkit-mask: url(../images/cross.svg) no-repeat 200px,
            url(../images/plus.svg) no-repeat center;
        mask: url(../images/cross.svg) no-repeat 200px,
            url(../images/plus.svg) no-repeat center;
        width: 17px;
        height: 17px;
    }

    .faq-item.is-active & {
        &:after {
            background-color: $disabled-cr;
            -webkit-mask: url(../images/cross.svg) no-repeat center,
                url(../images/plus.svg) no-repeat 200px;
            mask: url(../images/cross.svg) no-repeat center,
                url(../images/plus.svg) no-repeat 200px;
            width: 15px;
            height: 15px;
            margin-left: -1px;
        }
    }
}

.faq-item__a {
    padding-left: 20px;
    padding-bottom: 26px;
    display: none;
}

.faq__contact {
    padding-top: 20px;
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;

    @include media('<desktop') {
        text-align: center;
        margin-bottom: 30px;
    }
}

.faq__contact-description {
    margin: 0 0 5px;
    font-size: 12px;
    color: #6c7796;
    font-weight: normal;
}
