.footer {
    @include adaptive-font(12, 15);
    padding-top: 24px;
    padding-bottom: 24px;
    color: $footer-txt-cr;
    position: relative;
    overflow: hidden;
    margin-top: -14px;

    @include media('<desktop') {
        text-align: center;
        font-size: 15px;
        padding-top: 175px;
        padding-bottom: 39px;
    }

    @include media('>=desktop') {
        font-size: 14px;
        padding-top: 234px;
        padding-bottom: 49px;
    }

    @include media('>=largescreen') {
        margin-top: -38px;
    }

    &:before {
        @include xcenter;
        transform: translate(-50%, 0) rotate(-0.7deg);
        content: '';
        z-index: 1;
        top: 0;
        width: 2092px;
        height: 164px;
        pointer-events: none;
        background-repeat: no-repeat;

        @include media('<desktop') {
            top: -60px;
        }

        .webp & {
            background-image: url(../images/footer-btm-decor.webp);
        }

        body:not(.webp) & {
            background-image: url(../images/footer-btm-decor.png);
        }
    }
}

.footer__container {
    display: flex;
    flex-wrap: wrap;

    @include media('<desktop') {
        flex-direction: column;
        align-items: center;
    }

    @include media('>=desktop') {
        justify-content: space-between;
        align-items: flex-end;
    }
}

.footer__left {
    @include media('>=desktop') {
        max-width: 25%;
        flex: 0 0 25%;
        padding-right: 20px;
    }
}

.footer-slogan {
    @include media('<desktop') {
        display: none;
    }

    @include media('>=desktop') {
        margin-bottom: 41px;
    }
}

.footer__center {
    @include media('>=desktop') {
        max-width: 50%;
        flex: 0 0 50%;
        padding-right: 20px;
    }
}

.footer-support {
    @include media('<desktop') {
        order: -2;
    }
}

.footer-support__schedule {
    margin-bottom: 11px;

    @include media('<desktop') {
        margin-bottom: 20px;
    }
}

.footer__links {
    margin-bottom: 41px;

    @include media('<desktop') {
        max-width: 350px;
        margin-bottom: 25px;
    }

    a {
        text-decoration: none;

        @include media('<desktop') {
            font-size: 14px;
            height: 38px;
            border-radius: 23px;
            border: 1px solid $theme-color-02;
            display: inline-flex;
            align-items: center;
            padding: 5px 16px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
        }

        @include media('>=desktop') {
            display: inline-block;
            margin-right: 20px;
        }

        @include hover {
            text-decoration: underline;
        }
    }
}

.footer-contacts {
    line-height: 22px;

    @include media('<desktop') {
        margin-bottom: 40px;
    }
}

.footer__right {
    @include media('>=desktop') {
        max-width: 23.8%;
        flex: 0 0 23.8%;
    }
}

.footer-policy-links {
    @include media('<desktop') {
        order: -1;
        margin-bottom: 29px;
        line-height: 29px;
    }

    @include media('>=desktop') {
        padding-top: 0;
        line-height: 23px;
    }

    a {
        color: inherit;
        text-decoration: none;

        @include media('<desktop') {
            color: $theme-color-02;
        }

        @include hover {
            text-decoration: underline;
        }
    }
}

.social {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    @include media('<desktop') {
        order: 0;
        margin-bottom: 38px;
    }

    @include media('>=desktop') {
        margin-bottom: 41px;
    }

    li {
        font-size: 30px;

        &:not(:first-child) {
            margin-left: 24px;
        }
    }

    a {
        color: inherit;
    }
}

.copyrights {
    font-size: 14px;
    line-height: 1.571;
    padding-top: 0;

    @include media('<desktop') {
        order: 1;
    }
}
