:root {
    --hiw-padding-hor: 24px;
    --hiw-padding-btm: 31px;
    --hiw-width: 300px;

    @include media('>=tablet') {
        --hiw-padding-hor: 40px;
        --hiw-padding-btm: 49px;
        --hiw-width: 390px;
    }

    @include media('>=desktop') {
        --hiw-gutter: 20px;
        --hiw-padding-btm: 39px;
    }

    @include media('>=desktop', '<largescreen') {
        --hiw-width: 33.3333%;
    }

    @include media('>=widescreen') {
        --hiw-padding-hor: 0;
    }

    @include media('>=largescreen') {
        --hiw-gutter: 35px;
        --hiw-width: 400px;
    }
}

.hiw {
    padding-bottom: 52px;

    @include media('>=desktop') {
        padding-bottom: 70px;
    }

    @include media('<tablet') {
        margin-left: -1px;
        margin-right: -1px;
    }

    .tabs {
        @include media('<tablet') {
            margin-top: -16px;
        }
    }

    .swiper-pagination {
        @include media('>=desktop') {
            display: none;
        }
    }
}

.hiw__ttl {
    margin-bottom: 41px;

    @include media('>=tablet') {
        margin-bottom: 27px;
    }

    @include media('>=largescreen') {
        margin-bottom: 1px;
    }
}

.hiw__container-slider {
    margin-bottom: 37px;

    .swiper-pagination {
        margin-top: 15px;

        @include media('>=desktop') {
            margin-top: 20px;
        }
    }
}

.hiw__list {
    display: flex;
    margin-left: calc(var(--hiw-gutter)/-2);
    margin-right: calc(var(--hiw-gutter)/-2);

    @include media('<desktop') {
        width: 9999px;
    }

    @include media('>=desktop') {
        width: auto;
    }

    @include media('>=widescreen') {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &:after {
        content: '';
        flex: auto;
    }
}

.hiw-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    padding-bottom: var(--hiw-padding-btm);
    padding-left: var(--hiw-padding-hor);
    padding-right: var(--hiw-padding-hor);
    margin-left: calc(var(--hiw-gutter)/2);
    margin-right: calc(var(--hiw-gutter)/2);
    max-width: calc(var(--hiw-width) - var(--hiw-gutter));
    flex-basis: calc(var(--hiw-width) - var(--hiw-gutter));
    height: auto;

    @include media('<widescreen') {
        border-radius: 20px;
        background-color: rgba($theme-color-05, .5);
        margin-top: 51px;
    }

    @include media('<desktop') {
        margin-top: 40px;
    }
}

.hiw-item__cta {
    margin-top: auto;
}

.hiw-item__img {
    width: 100%;
    margin-bottom: 30px;
    position: relative;

    @include media('<widescreen') {
        margin-top: -51px;
    }

    @include media('<desktop') {
        margin-top: -58px;
    }

    &:after {
        content: '';
        display: block;
        height: 0;
        padding-bottom: 88%;
    }

    img {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.hiw-item__ttl {
    @include adaptive-font(20, 24);
    font-weight: 700;
    line-height: 1.25;
    color: $theme-color-01;
    display: block;
    margin-bottom: 10px;
}

.hiw-item__description {
    @include adaptive-font(15, 16);
    line-height: 1.21875;
    margin-bottom: 17px;

    @include media('>=largescreen') {
        padding-right: 1.823vw;
    }
}
.hiw-item__description{
    @include media('>=largescreen') {
        padding-right: 0;
    }
}

.hiw__cta {
    min-width: 248px;
}
