.main-banner {
    background-color: #fbfbfd;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 589px;
    margin-bottom: 16px;
    overflow: hidden;

    .webp & {
        background-image: url(../images/bg-main-banner.webp);
    }

    body:not(.webp) & {
        background-image: url(../images/bg-main-banner.jpg);
    }

    @include media('<desktop') {
        padding: 70px 0 86px;
        position: relative;
        z-index: 1;
    }

    @include media('>=desktop') {
        min-height: 805px;
        padding: 92px 0 352px;
        margin-bottom: 31px;
    }

    @include media('>=largescreen') {
        margin-bottom: 71px;
    }
}

.main-banner__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('>=desktop') {
        position: relative;
        z-index: 1;
    }
}

.main-banner__txt-holder {
    max-width: 670px;

    @include media('<desktop') {
        padding-top: 177px;
        max-width: 58.59375%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include media('<tablet') {
        max-width: 82.933%;
        padding-top: 21.798vh;
    }

    @include media('>=desktop') {
        padding-top: 13.067vh;
    }

    @include media('>=largescreen') {
        padding-top: 19.167vh;
    }
}

.main-banner__ttl {
    @include adaptive-font(30, 50);
    color: $theme-color-01;
    font-family: $alt-font-family;
    line-height: 1.2;
    font-weight: 700;
    display: block;
    margin-bottom: 21px;

    @include media('<tablet') {
        text-shadow: 1px 1px 8px $theme-color-05;
    }

    @include media('>=tablet') {
        margin-bottom: 40px;
    }

    @include media('>=desktop') {
        margin-bottom: 46px;
    }

    .main-banner__txt-holder.is-active & {
        @include media('<desktop') {
            display: none;
        }
    }
}

.main-banner__opener {
    padding-left: 45px;
    margin-bottom: 20px;

    @include media('>=desktop') {
        display: none;
    }

    .main-banner__txt-holder.is-active & {
        display: none;
    }

    &:before {
        @include ycenter;
        left: 20px;
        content: '';
        background: url(../images/icon-hand.png) no-repeat;
        background-size: cover;
        width: 15px;
        height: 15px;
    }
}

.main-banner__link-cta {
    @include media('>=desktop') {
        display: none;
    }
}

.main-banner__txt {
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 12px;

    @include media('>=desktop') {
        margin-bottom: 22px;
    }
}

.main-banner__img-elem {
    position: absolute;
    top: 0;
    z-index: -1;

    @include media('<desktop') {
        max-width: none;
        width: 100%;
        left: 0;
        right: 0;
    }

    @include media('>=desktop') {
        top: -15.5%;
        right: -8.8%;
    }

    @include media('>=largescreen') {
        top: 10.5%;
        right: -20%;
    }
}

.main-banner__btns {}

.btn-category {
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    color: $theme-color-01;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid $disabled-cr;
    box-sizing: border-box;
    border-radius: 22px;
    min-height: 39px;
    padding: 5px 15px 5px;
    margin-bottom: 10px;
    margin-right: 2px;

    @include hover {
        background-color: #f1f9f7;
        border-color: $theme-color-02;
    }

    &.is-active {
        background-color: $theme-color-04;
        border-color: $theme-color-02;
    }

    &--alt {
        background-color: $theme-color-01;
        border-color: $theme-color-01;
        color: #fff;
        position: relative;
        padding-left: 12px;
        padding-right: 21px;

        @include hover {
            background-color: $theme-color-03;
            border-color: $theme-color-03;
        }

        &[disabled] {
            background-color: $theme-color-05;
            border-color: $theme-color-05;
            padding-right: 15px;

            &:after {
                display: none;
            }
        }

        &:after {
            @include anim;
            @include ycenter;
            content: '';
            right: 10px;
            background-color: currentColor;
            -webkit-mask: url(../images/arrow-next.svg) no-repeat center;
            mask: url(../images/arrow-next.svg) no-repeat center;
            width: 8px;
            height: 14px;
        }
    }
}

.btn-category__icon {
    margin-right: 5px;
}
