body {
    .header,
    .main,
    .bottom-blocks {
        transition: filter $animation-speed;
    }

    &.is-modal-open {
        overflow: hidden;

        &:after {
            opacity: 1;
            visibility: visible;
        }

        .header,
        .main,
        .bottom-blocks {
            filter: blur(5px);
        }

        .btn-top {
            display: none;
        }
    }

    &:after {
        @include anim;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(#cfd1dc, .45);
        z-index: 998;

        opacity: 0;
        visibility: hidden;
    }
}

.modal {
    @include xycenter;
    @include anim;
    position: fixed;
    overflow: auto;
    width: 100%;
    max-width: 454px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 20px 0;

    opacity: 0;
    visibility: hidden;

    @include media('>=desktop') {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include media('<tablet') {
        max-width: 94.933vw;
    }

    &.is-open {
        transition-duration: $animation-speed * 2;
        opacity: 1;
        visibility: visible;
    }
}

.modal-calc,
.modal-order {
    @include media('>=tablet') {
        max-width: 760px;
    }
}

.modal-calc {
    .modal__footer {
        @include media('>=desktop') {
            padding: 0;
            border: 0;
        }
    }
}

.modal-callback {
    @include media('<desktop') {
        text-align: center;
    }

    .modal__ttl {
        margin-bottom: 10px;
    }

    .modal__top-txt {
        color: $footer-txt-cr;
    }

    .general-form__btm-txt {
        margin-bottom: 30px;
    }

    .general-form__cta {
        @include media('<tablet') {
            order: 1;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .modal__content {
        @include media('<desktop') {
            padding-bottom: 20px;
        }
    }

    .modal__footer {
        @include media('>=desktop') {
            display: none;
        }
    }
}


.modal-callback__img {
    margin-bottom: 20px;

    @include media('<desktop') {
        margin-top: 26px;
    }
}

.modal__top-txt {
    color: $theme-color-01;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.modal__btns {
    width: 100%;
}

.modal__content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @include media('>=desktop') {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.general-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 35px;

    .form-wrap {
        margin-bottom: 10px;
        width: 100%;

        @include media('>=desktop') {
            margin-bottom: 20px;
        }

        .general-form__field {
            margin-bottom: 0;
        }
    }
}

.form-callback {
    padding-top: 0;
    align-items: flex-start;

    @include media('>=desktop') {
        padding-top: 20px;
    }

    .form-wrap {
        @include media('<tablet') {
            margin-bottom: 20px;
        }
    }
}

.general-form__field {
    margin-bottom: 10px;
    width: 100%;

    @include media('>=desktop') {
        margin-bottom: 20px;
    }
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-xs-6 {
    flex-shrink: 0;
    flex-basis: calc(50% - 5px);
    max-width: calc(50% - 5px);
}

.col-xs-12 {
    width: 100%;
    flex-basis: 100%;
}

.col-md-6 {
    flex-shrink: 0;

    @include media('>=desktop') {
        flex-basis: calc(50% - 5px);
        max-width: calc(50% - 5px);
    }
}

.col-md-4 {
    flex-shrink: 0;

    @include media('>=desktop') {
        flex-basis: calc(33.333% - 5px);
        max-width: calc(33.333% - 5px);
    }
}

.col-md-3 {
    flex-shrink: 0;

    @include media('>=desktop') {
        flex-basis: calc(25% - 5px);
        max-width: calc(25% - 5px);
    }
}

.order-xs-1 {
    @include media('<desktop') {
        order: -2;
    }
}

.order-xs-2 {
    @include media('<desktop') {
        order: -1;
    }
}

.modal__ttl {
    @include adaptive-font(20, 24);
    color: $theme-color-01;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0;

    @include media('<desktop') {
        text-align: center;
        width: 100%;
        order: 2;
        margin-top: 22px;
    }
}

.general-form__bottom {
    display: flex;
    align-items: center;
    width: 100%;

    @include media('<desktop') {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    @include media('>=desktop') {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

.general-form__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include media('<desktop') {
        padding-top: 17px;
    }

    &:only-child {
        width: 100%;

        @include media('>=desktop') {
            justify-content: space-between;
        }
    }

    .link-primary--back {
        margin-right: 10px;

        & ~ .general-form__cta {
            margin-left: 10px;
        }
    }
}

.total-order-info {
    @include media('<desktop') {
        width: calc(100% + 40px);
        order: -1;
        padding: 10px 40px;
        margin-left: -20px;
        margin-right: -20px;
        border-top: 1px solid rgba($theme-color-05, .5);
        border-bottom: 1px solid rgba($theme-color-05, .5);
    }

    @include media('>=desktop') {
        margin-left: auto;
        margin-right: 38px;
    }

    .modal-order__calories,
    .modal-order__product-diet {
        @include media('<desktop') {
            font-size: 12px;
            color: $footer-txt-cr;
            display: inline;
        }

        @include media('>=desktop') {
            display: none;
        }
    }

    .modal-order__product-diet {
        @include media('<desktop') {
            display: inline-block;
            margin-right: 6px;
        }
    }

    .diet-total-param__item {
        margin-right: 6px;
        margin-bottom: 5px;
    }

    .total-price {
        @include adaptive-font(20, 24);
        font-weight: 700;
        color: $theme-color-01;

        @include media('<desktop') {
            margin-top: 10px;
        }
    }
}

.general-form__btm-txt {
    font-size: 12px;

    @include media('<desktop') {
        order: 1;
        text-align: center;
        margin-top: 20px;
    }

    a {
        text-decoration: underline;
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}



.thx-block {
    @include adaptive-font(16, 18);
    max-width: 515px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .modal__ttl {
        margin-bottom: 20px;
    }
}

.thx-block__icon {
    margin-bottom: 20px;
}



.modal__heading {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media('<desktop') {
        flex-wrap: wrap;
    }
}

.modal-order__top-txt {
    @include adaptive-font(15, 24);
    color: $disabled-cr;
    margin-left: 20px;
    font-weight: 600;
    margin-right: auto;

    @include media('<desktop') {
        margin-left: auto;
    }
}

.pagination {
    display: flex;

    @include media('>=desktop') {
        margin-bottom: auto;
        margin-top: 8px;
    }

    @include media('<desktop') {
        position: absolute;
        right: 0;
        top: 6px;
    }
}

.pagination__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $disabled-cr;
    margin-left: 10px;

    &.is-active {
        background-color: $theme-color-02;
        border-color: $theme-color-02;
    }

    &.is-complete {
        background-color: $disabled-cr;
        border-color: $disabled-cr;
    }
}

.modal__footer {
    width: 100%;
    border-top: 2px solid rgba($theme-color-05, .5);
    padding: 20px 20px 0;

    @include media('>=desktop') {
        padding-top: 26px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

.modal-order__footer {
    display: flex;
    justify-content: space-between;
}

.modal-order__product-name {
    font-size: 18px;
    font-weight: 700;
    color: $theme-color-01;
    margin-bottom: 5px;

    img {
        &:first-child {
            margin-left: 5px;
        }
    }
}

.modal-order__product-diet {
    font-size: 14px;
}

.modal-order__footer {
    @include media('<desktop') {
        display: none;
    }
}

.modal-order__product {
    @include media('>=desktop') {
        max-width: 38.333%;
        flex: 0 0 38.333%;
    }
}

.modal-order__calories {
    @include media('>=desktop') {
        max-width: 60%;
        flex: 0 0 60%;
        margin-bottom: -11px;
    }
}

.modal__support {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: $disabled-cr;

    @include media('<desktop') {
        width: 100%;
        justify-content: center;
        border-top: 2px solid rgba(244, 245, 248, 0.5);
        padding-top: 20px;
    }

    @include media('>=desktop') {
        position: absolute;
        left: 80px;
        top: 22px;
    }

    a {
        margin-left: 12px;
    }
}

.modal-calc__bottom {
    @include media('>=desktop') {
        border-top: 2px solid rgba($theme-color-05, .5);
        padding-top: 20px;
    }

    @include media('>=desktop') {
        /* TODO: перевести в переменные*/
        margin-bottom: 0;
        margin-left: -80px;
        margin-right: -80px;
        padding-left: 80px;
        padding-right: 80px;
        width: calc(100% + 160px);
    }
}


.calc-norm {
    @include media('<desktop') {
        display: none;
    }

    @include media('>=desktop') {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: 40px;
    }
}

.calc-norm__ttl {
    font-size: 16px;
    margin-right: 20px;
}

.calc-norm__value {
    font-size: 24px;
    font-weight: 700;
    color: $theme-color-01;
}

.calc-total {
    text-align: center;
}

.calc-total__calories {
    @include adaptive-font(90, 110);
    line-height: 1;
    margin-bottom: 10px;
    font-weight: 700;
    color: $theme-color-01;
    padding-top: 1em;
}

.calc-total__calories-txt {
    @include adaptive-font(12, 16);
    margin-bottom: 50px;
}

.calc-total__note {
    @include adaptive-font(12, 16);
    margin-bottom: 20px;
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;

    @include media('>=desktop') {
        max-width: 270px;
        margin-bottom: 30px;
    }
}

.calc-total__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @include media('>=desktop') {
        margin-bottom: 30px;
    }

    .link-primary--back {
        margin-right: 10px;
    }

    [class*="btn"] {
        margin-left: 10px;
    }
}

.modal__order-success {
    @include media('<desktop') {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .modal__heading {
        position: static;
    }

    .pagination {
        position: absolute;
        top: 26px;
        right: 20px;
    }

    .modal__ttl {
        @include media('<desktop') {
            margin-bottom: 10px;
        }

        @include media('>=desktop') {
            margin-bottom: 20px;
        }
    }

    .modal__top-txt {
        @include media('<desktop') {
            color: $footer-txt-cr;
        }

        @include media('>=desktop') {
            margin-bottom: 114px;
        }
    }
}

.modal-order__success-img {
    @include media('<desktop') {
        order: -1;
        background: url(../images/img-callback-big.svg) no-repeat 150% 0;
        background-size: 400px auto;
        min-height: 225px;
        margin-left: -20px;
        margin-right: -20px;
    }

    @include media('>=desktop') {
        position: absolute;
        right: 36px;
        bottom: 69px;
        z-index: -1;
    }

    img {
        @include media('<desktop') {
            opacity: 0;
        }
    }
}

.modal__order-success-txt {
    font-size: 12px;
    line-height: 1.5;
    color: $footer-txt-cr;

    @include media('>=desktop') {
        margin-bottom: 20px;
    }
}
