:root {
    @include media('>=desktop') {
        --product-gutter: 20px;
        --product-width: 33.3333%;
    }

    @include media('>=largescreen') {
        --product-width: 280px;
    }
}

.products-list {
    margin-left: calc(var(--product-gutter)/-2);
    margin-right: calc(var(--product-gutter)/-2);

    @include media('<desktop') {
        margin-bottom: 40px;
    }

    @include media('>=desktop') {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
}

.product-item {
    flex-shrink: 0;

    @include media('<desktop') {
        background-color: $theme-color-05;
        border-radius: 23px;
        padding-bottom: 34px;
    }

    @include media('>=desktop') {
        max-width: calc(var(--product-width) - var(--product-gutter));
        flex-basis: calc(var(--product-width) - var(--product-gutter));
        margin-bottom: 63px;
        margin-left: calc(var(--product-gutter)/2);
        margin-right: calc(var(--product-gutter)/2);
    }

    @include media('>=largescreen') {
        max-width: 280px;
        flex-basis: 280px;
    }
}

.product-item__image {
    border-radius: 23px;
    background-color: $theme-color-05;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    @include media('>=desktop') {
        margin-bottom: 10px;
    }

    img {
        mix-blend-mode: multiply;
    }
}

.product-item__content {
    padding-left: 20px;
    padding-right: 20px;
}

.product-item__meal {
    color: $footer-txt-cr;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
}

.product-item__name {
    color: $theme-color-01;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-item__composition {
    font-size: 12px;
    color: $footer-txt-cr;
}
