:root {
    --reviews-padding: 24px;
    //--reviews-gutter: 20px;
    //--reviews-width: 310px;

    @include media('>=desktop') {
        --reviews-padding: 30px;
        --reviews-gutter: 39px;
        --reviews-width: 446px;
    }

    @include media('>=largescreen') {
        --reviews-gutter: 60px;
        --reviews-width: 466px;
    }
}

.reviews {
    @include media('>=tablet', '<desktop') {
        max-width: 79.167vw;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-pagination {
        @include media('>=desktop') {
            display: none;
        }
    }
}

.reviews__ttl {
    margin-bottom: 38px;

    @include media('>=desktop') {
        margin-bottom: 86px;
    }
}

.reviews__list {
    display: flex;
    justify-content: space-between;
    margin-left: calc(var(--reviews-gutter)/2 * -1);
    margin-right: calc(var(--reviews-gutter)/2 * -1);
    margin-bottom: 9px;

    @include media('>=desktop') {
        margin-bottom: 72px;
    }

    &:after {
        content: '';
        flex: auto;
    }
}

.reviews-item {
    height: auto;
    padding-left: var(--reviews-padding);
    padding-right: var(--reviews-padding);
    margin-left: calc(var(--reviews-gutter)/2);
    margin-right: calc(var(--reviews-gutter)/2);
    margin-bottom: 28px;
    max-width: calc(var(--reviews-width) - var(--reviews-gutter));
    flex-basis: calc(var(--reviews-width) - var(--reviews-gutter));
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    .icon-yandex {
        width: 48px;
        max-width: 48px;
        height: 19px;
        color: #000;

        @include media('>=desktop') {
            width: 60px;
            max-width: 60px;
            height: 24px;
        }
    }

    .icon-google {
        width: 62px;
        max-width: 62px;
        height: 21px;

        @include media('>=desktop') {
            width: 77px;
            max-width: 77px;
        }
    }
}

.reviews-item__txt {
    background-color: $theme-color-05;
    border-radius: 23px;
    padding-top: 20px;
    padding-bottom: 43px;
    padding-left: var(--reviews-padding);
    padding-right: var(--reviews-padding);
    margin-left: calc(var(--reviews-padding) * -1);
    margin-right: calc(var(--reviews-padding) * -1);
    margin-bottom: 10px;
    line-height: 1.22;
    flex-grow: 1;
}

.reviews-item__author {
    padding-left: 72px;
    min-height: 50px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .reviews-item__date {
        @include media('<desktop') {
            display: none;
        }
    }

    .icon-src {
        @include media('>=desktop') {
            display: none;
        }
    }
}

.reviews-item__author-name {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: $theme-color-01;
    margin-top: 2px;
}

.reviews-item__ava {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.reviews-item__ava-circle {
    border-radius: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.reviews-item__rating {
    display: flex;
    align-items: center;
    font-size: 19px;
    margin-right: 6px;

    .icon-star {
        color: #ffc613;
        margin-right: 3px;
    }
}

.reviews-item__date {
    align-self: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $disabled-cr;
}

.reviews-item__src {
    .icon-src {
        @include media('<desktop') {
            display: none;
        }
    }

    .reviews-item__date {
        @include media('>=desktop') {
            display: none;
        }
    }
}

.aggregate-rating {
    display: flex;

    @include media('<desktop') {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 43px;
        margin-top: 40px;
    }

    @include media('>=desktop') {
        flex-wrap: wrap;
        margin-bottom: 130px;
    }

    @include media('>=largescreen') {
        margin-bottom: 180px;
    }

    .link-primary {
        font-size: 15px;
        font-weight: 500;
    }
}

.aggregate-rating__item {
    @include media('<desktop') {
        margin-bottom: 40px;
        max-width: 250px;
    }

    @include media('>=desktop') {
        flex-shrink: 0;
        max-width: calc(48% - 6.25vw);
        flex-basis: calc(48% - 6.25vw);

        &:not(:first-child) {
            margin-left: 3.125vw;
        }

        &:not(:last-child) {
            margin-right: 3.125vw;
        }
    }
}
