:root {
    --why-us-item-padding: 24px;
    //--why-us-gutter: 10px;
    --why-us-width: 290px;

    @include media('>=tablet') {
        --why-us-item-padding: 40px;
        //--why-us-gutter: 20px;
        --why-us-width: 390px;
    }

    @include media('>=desktop', '<largescreen') {
        --why-us-item-padding: 30px;
        --why-us-gutter: 19px;
        --why-us-width: 33.333%;
    }

    @include media('>=largescreen') {
        --why-us-gutter: 35px;
        --why-us-width: 405px;
    }
}

.why-us {
    padding-bottom: 52px;

    @include media('>=tablet') {
        padding-bottom: 164px;
    }

    @include media('>=desktop') {
        padding-bottom: 144px;
    }

    @include media('>=largescreen') {
        padding-bottom: 262px;
    }

    @include media('<tablet') {
        margin-left: -1px;
        margin-right: -1px;
    }

    .tabs {
        @include media('<tablet') {
            margin-top: -16px;
        }
    }

    .swiper-pagination {
        @include media('>=desktop') {
            display: none;
        }
    }
}

.why-us__heading {
    @include media('<tablet') {
        text-align: center;
    }

    @include media('>=desktop') {
        margin-bottom: 7px;
    }

    @include media('>=largescreen') {
        margin-bottom: 20px;
    }
}

.why-us__ttl {
    margin-bottom: 17px;
}

.why-us__descr {
    @include adaptive-font(15, 18);
}

.why-us__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: calc(var(--why-us-gutter)/2 * -1);
    margin-right: calc(var(--why-us-gutter)/2 * -1);
    margin-bottom: 9px;

    @include media('<desktop') {
        width: 9999px;
    }

    @include media('>=desktop') {
        width: auto;
    }

    &:after {
        content: '';
        flex: auto;
    }
}

.why-us-item {
    background-color: $disabled-bg;
    border-radius: 23px;
    padding: 34px var(--why-us-item-padding);
    margin-left: calc(var(--why-us-gutter)/2);
    margin-right: calc(var(--why-us-gutter)/2);
    margin-bottom: 28px;
    max-width: calc(var(--why-us-width) - var(--why-us-gutter));
    flex-basis: calc(var(--why-us-width) - var(--why-us-gutter));
    flex-shrink: 0;
    margin-top: .8%;

    @include media('>=tablet') {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    @include media('>=desktop') {
        margin-top: 117px;
    }
}

.why-us-item__img {
    margin-bottom: 26px;
    position: relative;
    padding-bottom: 88%;
    margin-left: calc(var(--why-us-item-padding) * -1);
    margin-right: calc(var(--why-us-item-padding) * -1);
    margin-top: -30%;

    @include media('>=desktop') {
        margin-bottom: 28px;
        margin-top: -117px;
    }

    @include media('>=largescreen') {
        margin-bottom: 36px;
    }

    img {
        @include xcenter;
        bottom: 0;

        @include media('<tablet') {
            max-width: 90%;

            &[src*="img-why-us03"] {
                max-width: 75.173%;
            }
        }
    }
}

.why-us-item__btn {
    margin-bottom: 12px;

    @include media('>=desktop') {
        margin-bottom: 15px;
    }
}

.why-us-item__ttl {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    color: $theme-color-01;
    display: block;
    margin-bottom: 10px;
}

.why-us-item__description {
    @include adaptive-font(15, 16);
    line-height: 1.21875;
    margin-bottom: 0;

    @include media('>=largescreen') {
        margin-right: -17px;
    }
}

.why-us__cta {
    min-width: 248px;
}
