// list reset
%listreset {
    margin: 0;
    padding: 0;
    list-style: none;
}

// clearfix
%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
.clearfix {
    @extend %clearfix;
}
// transition
%transition {
    transition: all 0.3s ease-in-out;
}
