//= templates-parts/head.html
//= templates-parts/header.html
//= templates-parts/icons.html

<main class="main" id="main-top">
    <div class="main-banner">
        <div class="main-banner__container container">
            <div class="main-banner__txt-holder js-banner-toggle">
                <span class="main-banner__ttl">Ежедневная <br class="visible-md visible-xs visible-sm">доставка вкусного вегетарианского питания в Москве </span>

                <button type="button" class="main-banner__opener btn-primary btn-lg js-banner-opener">Выбрать продукты
                    <svg class="icon icon-arrow-next">
                        <use xlink:href="#icon-arrow-next"></use>
                    </svg>
                </button>

                <p class="main-banner__txt">Расскажите что едите, а мы <br class="visible-md visible-xs visible-sm">подберем
                    рационы</p>

                <div class="main-banner__btns js-banner-content">
                    <a href="" class="btn-category">
                        <img class="btn-category__icon" src="images/vegetable.png" width="17" alt="">
                        Растительные продукты
                    </a>
                    <a href="" class="btn-category">
                        <img class="btn-category__icon" src="images/honey.png" width="17" alt="">
                        Мёд
                    </a>
                    <a href="" class="btn-category">
                        <img class="btn-category__icon" src="images/egg.png" width="17" alt="">
                        Яйца
                    </a>
                    <a href="" class="btn-category">
                        <img class="btn-category__icon" src="images/milk.png" width="17" alt="">
                        Молочные продукты
                    </a>
                    <a href="" class="btn-category is-active">
                        <img class="btn-category__icon" src="images/fish.png" width="17" alt="">
                        Рыба
                    </a>
                    <a href="" class="btn-category btn-category--alt" disabled>
                        <img class="btn-category__icon" src="images/icon-hand.png" width="17" alt="">
                    </a>
                </div>

                <a href="#diet" class="main-banner__link-cta link-primary js-anchor-trigger">Сразу к рационам</a>
            </div>

            <div class="main-banner__img">
                <picture>
                    <source type="image/webp" srcset="images/banner-img-mob.webp" media="(max-width: 767px)">
                    <source type="image/png" srcset="images/banner-img-mob.png" media="(max-width: 767px)">
                    <source type="image/webp" srcset="images/banner-img-tab.webp" media="(max-width: 991px)">
                    <source type="image/png" srcset="images/banner-img-tab.png" media="(max-width: 991px)">
                    <source type="image/webp" srcset="images/banner-img-desk.webp" media="(max-width: 1599px)">
                    <source type="image/png" srcset="images/banner-img-desk.png" media="(max-width: 1599px)">
                    <source type="image/webp" srcset="images/banner-img.webp">
                    <source type="image/png" srcset="images/banner-img.png">
                    <img class="main-banner__img-elem" src="images/banner-img.png" alt="">
                </picture>
            </div>
        </div>
    </div>

    <div class="container">
        <section class="hiw">
            <h2 class="hiw__ttl section-ttl">Как мы работаем</h2>

            <div class="hiw__container-slider js-hiw-swiper">
                <div class="hiw__list swiper-wrapper">
                    <div class="hiw-item swiper-slide" data-hash="slide1">
                        <div class="hiw-item__img">
                            <img src="images/img-hiw01.svg" alt="">
                        </div>
                        <span class="hiw-item__ttl">Вы выбираете</span>
                        <p class="hiw-item__description">Выбираете рацион, длительность и другие опции. Оставляете свои
                            данные и оплачиваете заказ</p>
                        <a href="#diet" class="hiw-item__cta link-primary js-anchor-trigger">Выбрать рацион</a>
                    </div>

                    <div class="hiw-item swiper-slide" data-hash="slide2">
                        <div class="hiw-item__img">
                            <img src="images/img-hiw02.svg" alt="">
                        </div>
                        <span class="hiw-item__ttl">Мы готовим</span>
                        <p class="hiw-item__description">После заявки наши повара приступают к приготовлению блюд, а
                            специальный отдел всё герметично упаковывает</p>
                        <a href="#review" class="hiw-item__cta link-primary js-anchor-trigger">Отзывы</a>
                    </div>

                    <div class="hiw-item swiper-slide" data-hash="slide3">
                        <div class="hiw-item__img">
                            <img src="images/img-hiw03.svg" alt="">
                        </div>
                        <span class="hiw-item__ttl">Мы доставляем</span>
                        <p class="hiw-item__description alt">Ежедневно наши курьеры доставляют рацион по вашему адресу в
                            указанный временной интервал. Разогреваете - и питаетесь правильно</p>
                        <a href="#faq" class="hiw-item__cta link-primary js-anchor-trigger">Условия доставки</a>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section class="diet" id="diet" style="display:none;">
            <div class="diet__heading">
                <h2 class="section-ttl diet__ttl">Выберите рацион</h2>
                <a href="" class="diet__link-help">В чём разница?</a>

                <div class="diet-filter">
                    <span class="diet-filter__ttl">Допустимое:</span>

                    <a href="" class="diet-filter-item">
                        <img src="images/honey.png" width="17" alt="">
                    </a>
                    <a href="" class="diet-filter-item">
                        <img src="images/egg.png" width="17" alt="">
                    </a>
                    <a href="" class="diet-filter-item is-active">
                        <img src="images/milk.png" width="17" alt="">
                    </a>
                    <a href="" class="diet-filter-item">
                        <img src="images/fish.png" width="17" alt="">
                    </a>
                </div>
            </div>

            <div class="diet__tabs tabs">
                <div class="diet__tabs-nav tabs__nav js-tabs-nav" role="tablist">
                    <div class="tabs__nav-holder">
                        <button class="tabs__nav-link js-tab-link is-second" id="midsy-tab" role="tab"
                                aria-controls="midsy" aria-selected="true">
                            <img src="images/fish.png" width="24" alt="">
                            <img src="images/egg.png" width="24" alt="">
                            <img src="images/milk.png" width="24" alt="">
                            <img src="images/honey.png" width="24" alt="">
                            <img src="images/vegetable.png" width="24" alt="">
                            <span class="tabs__nav-ttl">Midsy</span>
                            <svg class="icon icon-arrow-circle">
                                <use xlink:href="#icon-arrow-circle"></use>
                            </svg>
                        </button>
                        <button class="tabs__nav-link js-tab-link is-second" id="seagan-tab" role="tab"
                                aria-controls="seagan" aria-selected="false">
                            <img src="images/fish.png" width="24" alt="">
                            <img src="images/honey.png" width="24" alt="">
                            <img src="images/vegetable.png" width="24" alt="">
                            <span class="tabs__nav-ttl">Seagan</span>
                            <svg class="icon icon-arrow-circle">
                                <use xlink:href="#icon-arrow-circle"></use>
                            </svg>
                        </button>
                        <button class="tabs__nav-link js-tab-link is-active" id="veget-tab" role="tab"
                                aria-controls="veget" aria-selected="false">
                            <img src="images/egg.png" width="24" alt="">
                            <img src="images/milk.png" width="24" alt="">
                            <img src="images/honey.png" width="24" alt="">
                            <img src="images/vegetable.png" width="24" alt="">
                            <span class="tabs__nav-ttl">Veget</span>
                            <svg class="icon icon-arrow-circle">
                                <use xlink:href="#icon-arrow-circle"></use>
                            </svg>
                        </button>
                        <button class="tabs__nav-link js-tab-link" id="veggy-tab" role="tab" aria-controls="veggy"
                                aria-selected="false">
                            <img src="images/egg.png" width="24" alt="">
                            <img src="images/honey.png" width="24" alt="">
                            <img src="images/vegetable.png" width="24" alt="">
                            <span class="tabs__nav-ttl">Veggy</span>
                            <svg class="icon icon-arrow-circle">
                                <use xlink:href="#icon-arrow-circle"></use>
                            </svg>
                        </button>
                        <button class="tabs__nav-link js-tab-link" id="lacto-tab" role="tab" aria-controls="lacto"
                                aria-selected="false">
                            <img src="images/milk.png" width="24" alt="">
                            <img src="images/honey.png" width="24" alt="">
                            <img src="images/vegetable.png" width="24" alt="">
                            <span class="tabs__nav-ttl">Lacto</span>
                            <svg class="icon icon-arrow-circle">
                                <use xlink:href="#icon-arrow-circle"></use>
                            </svg>
                        </button>
                        <button class="tabs__nav-link js-tab-link" id="vegan-tab" role="tab" aria-controls="vegan"
                                aria-selected="false">
                            <img src="images/vegetable.png" width="24" alt="">
                            <span class="tabs__nav-ttl">Vegan</span>
                            <svg class="icon icon-arrow-circle">
                                <use xlink:href="#icon-arrow-circle"></use>
                            </svg>
                        </button>
                    </div>

                    <a href="" class="diet__link-help">В чём разница?</a>
                </div>

                <div class="tabs__content is-active" style="display: none;">
                    <!-- is-inactive : класс при неактивном блоке -->
                    <div class="diet-details is-inactive">
                        <!-- Неактивный блок с ч/б картинкой -->
                        <div class="diet-images">
                            <img src="images/placeholder-product.svg" alt="">
                        </div>

                        <div class="diet-descr">
                            <div class="diet-descr__ttl">…</div>
                            <p class="diet-desr__txt">здесь появится описание выбранного рациона</p>

                            <div class="diet-descr__days-ttl">Количество дней</div>
                            <div class="diet-descr__days-choose">
                                <input type="radio" name="diet-days" id="diet-days-1">
                                <label for="diet-days-1">1</label>
                                <input type="radio" name="diet-days" id="diet-days-5">
                                <label for="diet-days-5">5</label>
                                <input type="radio" name="diet-days" id="diet-days-7">
                                <label for="diet-days-7">7</label>
                                <input type="radio" name="diet-days" id="diet-days-10">
                                <label for="diet-days-10">10</label>
                                <input type="radio" name="diet-days" id="diet-days-20">
                                <label for="diet-days-20">20</label>
                                <input type="radio" name="diet-days" id="diet-days-28">
                                <label for="diet-days-28">28</label>
                            </div>
                        </div>

                        <div class="diet-params">
                            <div class="diet-params__block">
                                <div class="diet-params__heading">
                                    <span class="diet-params__ttl">Приёмов пищи</span>
                                </div>

                                <input class="diet-param-item" type="radio" name="diet-meals" id="diet-param-3">
                                <label for="diet-param-3">3 раза</label>
                                <input class="diet-param-item" type="radio" name="diet-meals" id="diet-param-5">
                                <label for="diet-param-5">5 раз</label>
                            </div>

                            <div class="diet-params__block">
                                <div class="diet-params__heading">
                                    <span class="diet-params__ttl">Калорий в день</span>
                                    <a href="" data-popup="#modal-calc">рассчитать?</a>
                                </div>

                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-1200">
                                <label for="diet-param-1200">1 200</label>
                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-1600">
                                <label for="diet-param-1600">1 600</label>
                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-2000">
                                <label for="diet-param-2000">2 000</label>
                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-2500">
                                <label for="diet-param-2500">2 500</label>
                            </div>

                            <div class="diet-params__block">
                                <div class="diet-params__heading">
                                    <span class="diet-params__ttl">Убрать из рациона</span>
                                </div>

                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-1">
                                <label for="diet-remove-1">завтрак</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-2">
                                <label for="diet-remove-2">десерт</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-3">
                                <label for="diet-remove-3">ужин</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-4">
                                <label for="diet-remove-4">суп</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-5">
                                <label for="diet-remove-5">приборы</label>
                            </div>
                        </div>
                    </div>

                    <div class="diet-total is-inactive">
                        <div class="diet-total__container">
                            <button type="button" data-popup="#modal-order" class="btn-primary btn-lg" disabled>к оплате
                                <svg class="icon icon-arrow-next">
                                    <use xlink:href="#icon-arrow-next"></use>
                                </svg>
                            </button>
                            <span class="diet-total__summ">0 ₽</span>

                            <div class="diet-total__col diet-total-param">
                                <span class="diet-total-param__item">трёхразовое питание</span>
                                <span class="diet-total-param__item">≈ 1200 ккал</span>
                                <span class="diet-total-param__item">на 5 дней</span>
                                <span class="diet-total-param__item">980 ₽ в день</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">2</div>
            </div>
        </section>

        <section class="diet">
            <div class="diet__heading">
                <h2 class="section-ttl diet__ttl">Выберите рацион</h2>
                <a href="" class="diet__link-help">В чём разница?
                    <div></div>
                </a>

                <div class="diet-filter">
                    <span class="diet-filter__ttl">Допустимое:</span>

                    <a href="" class="diet-filter-item">
                        <img src="images/honey.png" width="17" alt="">
                    </a>
                    <a href="" class="diet-filter-item">
                        <img src="images/egg.png" width="17" alt="">
                    </a>
                    <a href="" class="diet-filter-item is-active">
                        <img src="images/milk.png" width="17" alt="">
                    </a>
                    <a href="" class="diet-filter-item">
                        <img src="images/fish.png" width="17" alt="">
                    </a>
                </div>
            </div>

            <div class="diet__tabs tabs">
                <div class="tabs__nav js-tabs-nav" role="tablist">
                    <div class="js-diet-swiper diet-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide diet-card is-second" data-hash="card1">
                                <div class="diet-card__heading">
                                    <img src="images/fish.png" width="24" alt="">
                                    <img src="images/egg.png" width="24" alt="">
                                    <img src="images/milk.png" width="24" alt="">
                                    <img src="images/honey.png" width="24" alt="">
                                    <img src="images/vegetable.png" width="24" alt="">
                                    <span class="tabs__nav-ttl">Midsy</span>
                                    <button type="button" class="btn-default diet-card__close">
                                        <svg class="icon icon-cross-solid">
                                            <use xlink:href="#icon-cross-solid"></use>
                                        </svg>
                                    </button>
                                </div>

                                <div class="diet-card__content">
                                    <div class="diet-card__name">Сиганский</div>
                                    <p>исключены мясо, яйца и молочные продукты, но остаются рыба, морепродукты и
                                        мёд</p>
                                    <a href="" class="link-primary">Что сегодня в меню </a>
                                </div>
                            </div>

                            <div class="swiper-slide diet-card" data-hash="card2">
                                <div class="diet-card__heading">
                                    <img src="images/fish.png" width="24" alt="">
                                    <img src="images/honey.png" width="24" alt="">
                                    <img src="images/vegetable.png" width="24" alt="">
                                    <span class="tabs__nav-ttl">Seagan</span>
                                    <button type="button" class="btn-default diet-card__close">
                                        <svg class="icon icon-cross-solid">
                                            <use xlink:href="#icon-cross-solid"></use>
                                        </svg>
                                    </button>
                                </div>

                                <div class="diet-card__content">
                                    <div class="diet-card__name">Сиганский</div>
                                    <p>исключены мясо, яйца и молочные продукты, но остаются рыба, морепродукты и
                                        мёд</p>
                                    <a href="" class="link-primary">Что сегодня в меню </a>
                                </div>
                            </div>

                            <div class="swiper-slide diet-card" data-hash="card3">
                                <div class="diet-card__heading">
                                    <img src="images/egg.png" width="24" alt="">
                                    <img src="images/milk.png" width="24" alt="">
                                    <img src="images/honey.png" width="24" alt="">
                                    <img src="images/vegetable.png" width="24" alt="">
                                    <span class="tabs__nav-ttl">Veget</span>
                                    <button type="button" class="btn-default diet-card__close">
                                        <svg class="icon icon-cross-solid">
                                            <use xlink:href="#icon-cross-solid"></use>
                                        </svg>
                                    </button>
                                </div>

                                <div class="diet-card__content">
                                    <div class="diet-card__name">Сиганский</div>
                                    <p>исключены мясо, яйца и молочные продукты, но остаются рыба, морепродукты и
                                        мёд</p>
                                    <a href="" class="link-primary">Что сегодня в меню </a>
                                </div>
                            </div>

                            <div class="swiper-slide diet-card" data-hash="card4">
                                <div class="diet-card__heading">
                                    <img src="images/egg.png" width="24" alt="">
                                    <img src="images/honey.png" width="24" alt="">
                                    <img src="images/vegetable.png" width="24" alt="">
                                    <span class="tabs__nav-ttl">Veggy</span>
                                    <button type="button" class="btn-default diet-card__close">
                                        <svg class="icon icon-cross-solid">
                                            <use xlink:href="#icon-cross-solid"></use>
                                        </svg>
                                    </button>
                                </div>

                                <div class="diet-card__content">
                                    <div class="diet-card__name">Сиганский</div>
                                    <p>исключены мясо, яйца и молочные продукты, но остаются рыба, морепродукты и
                                        мёд</p>
                                    <a href="" class="link-primary">Что сегодня в меню </a>
                                </div>
                            </div>

                            <div class="swiper-slide diet-card is-second" data-hash="card5">
                                <div class="diet-card__heading">
                                    <img src="images/milk.png" width="24" alt="">
                                    <img src="images/honey.png" width="24" alt="">
                                    <img src="images/vegetable.png" width="24" alt="">
                                    <span class="tabs__nav-ttl">Lacto</span>
                                    <button type="button" class="btn-default diet-card__close">
                                        <svg class="icon icon-cross-solid">
                                            <use xlink:href="#icon-cross-solid"></use>
                                        </svg>
                                    </button>
                                </div>

                                <div class="diet-card__content">
                                    <div class="diet-card__name">Сиганский</div>
                                    <p>исключены мясо, яйца и молочные продукты, но остаются рыба, морепродукты и
                                        мёд</p>
                                    <a href="" class="link-primary">Что сегодня в меню </a>
                                </div>
                            </div>

                            <div class="swiper-slide diet-card is-active" data-hash="card6">
                                <div class="diet-card__heading">
                                    <img src="images/vegetable.png" width="24" alt="">
                                    <span class="tabs__nav-ttl">Vegan</span>
                                    <button type="button" class="btn-default diet-card__close">
                                        <svg class="icon icon-cross-solid">
                                            <use xlink:href="#icon-cross-solid"></use>
                                        </svg>
                                    </button>
                                </div>

                                <div class="diet-card__content">
                                    <div class="diet-card__name">Сиганский</div>
                                    <p>исключены мясо, яйца и молочные продукты, но остаются рыба, морепродукты и
                                        мёд</p>
                                    <a href="" class="link-primary">Что сегодня в меню </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="tabs__content is-active">
                    <div class="diet-details">
                        <div class="diet-images js-diet-images">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" data-hash="slide1">
                                    <picture>
                                        <source type="image/webp" srcset="images/food01.webp">
                                        <source type="image/jpg" srcset="images/food01.jpg">
                                        <img src="images/food01.jpg" alt="">
                                    </picture>
                                </div>

                                <div class="swiper-slide" data-hash="slide2">
                                    <picture>
                                        <source type="image/webp" srcset="images/food01.webp">
                                        <source type="image/jpg" srcset="images/food01.jpg">
                                        <img src="images/food01.jpg" alt="">
                                    </picture>
                                </div>

                                <div class="swiper-slide" data-hash="slide3">
                                    <picture>
                                        <source type="image/webp" srcset="images/food01.webp">
                                        <source type="image/jpg" srcset="images/food01.jpg">
                                        <img src="images/food01.jpg" alt="">
                                    </picture>
                                </div>
                            </div>

                            <div class="diet-images__bottom">
                                <div class="diet-images__ttl">Фавориты клиентов</div>
                                <div class="swiper-pagination pagination-circle"></div>
                            </div>
                            <a href="" class="link-primary">Что сегодня в меню</a>
                        </div>

                        <div class="diet-descr">
                            <div class="hidden-sm hidden-xs">
                                <div class="diet-descr__ttl">Сиганский</div>
                                <p class="diet-desr__txt">исключены мясо, яйца и молочные продукты, но остаются рыба,
                                    морепродукты и мёд</p>
                            </div>

                            <div class="diet-descr__days-ttl">Количество дней</div>
                            <div class="diet-descr__days-choose">
                                <input type="radio" name="diet-days" id="diet-days-1">
                                <label for="diet-days-1">1</label>
                                <input type="radio" name="diet-days" id="diet-days-5">
                                <label for="diet-days-5">5</label>
                                <input type="radio" name="diet-days" id="diet-days-7">
                                <label for="diet-days-7">7</label>
                                <input type="radio" name="diet-days" id="diet-days-10">
                                <label for="diet-days-10">10</label>
                                <input type="radio" name="diet-days" id="diet-days-20">
                                <label for="diet-days-20">20</label>
                                <input type="radio" name="diet-days" id="diet-days-28">
                                <label for="diet-days-28">28</label>
                            </div>
                        </div>

                        <div class="diet-params">
                            <div class="diet-params__block">
                                <div class="diet-params__heading">
                                    <span class="diet-params__ttl">Приёмов пищи</span>
                                </div>

                                <input class="diet-param-item" type="radio" name="diet-meals" id="diet-param-3">
                                <label for="diet-param-3">3 раза</label>
                                <input class="diet-param-item" type="radio" name="diet-meals" id="diet-param-5">
                                <label for="diet-param-5">5 раз</label>
                            </div>

                            <div class="diet-params__block">
                                <div class="diet-params__heading">
                                    <span class="diet-params__ttl">Калорий в день</span>
                                    <a href="" data-popup="#modal-calc">рассчитать?</a>
                                </div>

                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-1200">
                                <label for="diet-param-1200">1 200</label>
                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-1600">
                                <label for="diet-param-1600">1 600</label>
                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-2000">
                                <label for="diet-param-2000">2 000</label>
                                <input class="diet-param-item" type="radio" name="diet-calories" id="diet-param-2500">
                                <label for="diet-param-2500">2 500</label>
                            </div>

                            <div class="diet-params__block">
                                <div class="diet-params__heading">
                                    <span class="diet-params__ttl">Убрать из рациона</span>
                                </div>

                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-1">
                                <label for="diet-remove-1">завтрак</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-2">
                                <label for="diet-remove-2">десерт</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-3">
                                <label for="diet-remove-3">ужин</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-4">
                                <label for="diet-remove-4">суп</label>
                                <input class="diet-param-item" type="radio" name="diet-remove" id="diet-remove-5">
                                <label for="diet-remove-5">приборы</label>
                            </div>
                        </div>
                    </div>

                    <div class="diet-total is-inactive">
                        <div class="diet-total__container">
                            <button type="button" data-popup="#modal-order" class="btn-primary btn-lg">заказать
                                <svg class="icon icon-arrow-next">
                                    <use xlink:href="#icon-arrow-next"></use>
                                </svg>
                            </button>
                            <span class="diet-total__summ">6 200 ₽</span>

                            <div class="diet-total__col diet-total-param">
                                <span class="diet-total-param__item">трёхразовое питание</span>
                                <span class="diet-total-param__item">≈ 1200 ккал</span>
                                <span class="diet-total-param__item">на 5 дней</span>
                                <span class="diet-total-param__item">980 ₽ в день</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs__content">2</div>
            </div>

            <div class="diet-weekly tabs">
                <h3 class="diet-weekly__ttl">Ваше меню на эту неделю</h3>

                <div class="diet-weekly__heading">
                    <div class="diet-weekly__tabs js-tabs-nav" role="tablist">
                        <button class="js-tab-link diet-weekly__tab-link is-active" id="day-1" role="tab"
                                aria-controls="day-1" aria-selected="true">
                            Сегодня, 15 марта
                        </button>
                        <button class="js-tab-link diet-weekly__tab-link" id="day-2" role="tab" aria-controls="day-1"
                                aria-selected="true">
                            Вт, 16
                        </button>
                        <button class="js-tab-link diet-weekly__tab-link" id="day-3" role="tab" aria-controls="day-1"
                                aria-selected="true">
                            Ср, 17
                        </button>
                        <button class="js-tab-link diet-weekly__tab-link" id="day-4" role="tab" aria-controls="day-1"
                                aria-selected="true">
                            Чт, 18
                        </button>
                        <button class="js-tab-link diet-weekly__tab-link" id="day-5" role="tab" aria-controls="day-1"
                                aria-selected="true">
                            Пт, 19
                        </button>
                        <button class="js-tab-link diet-weekly__tab-link" id="day-6" role="tab" aria-controls="day-1"
                                aria-selected="true">
                            Сб, 20
                        </button>
                        <button class="js-tab-link diet-weekly__tab-link" id="day-7" role="tab" aria-controls="day-1"
                                aria-selected="true">
                            Вс, 21
                        </button>
                    </div>

                    <a href="">Энергетическая ценность</a>
                </div>

                <div class="tabs__content is-active">
                    <div class="js-products-swiper products-swiper">
                        <div class="products-list swiper-wrapper">
                            <div class="product-item swiper-slide" data-hash="slide1">
                                <div class="product-item__image">
                                    <picture>
                                        <source type="image/webp" srcset="images/fruit-salat.webp">
                                        <source type="image/jpg" srcset="images/fruit-salat.png">
                                        <img src="images/fruit-salat.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-item__content">
                                    <div class="product-item__meal">Завтрак</div>
                                    <div class="product-item__name">Панкейки на кокосовом молоке с малиной</div>
                                    <p class="product-item__composition">овсяная крупа, овсяное молоко, яблоко</p>
                                </div>
                            </div>

                            <div class="product-item swiper-slide" data-hash="slide2">
                                <div class="product-item__image">
                                    <picture>
                                        <source type="image/webp" srcset="images/fruit-salat.webp">
                                        <source type="image/jpg" srcset="images/fruit-salat.png">
                                        <img src="images/fruit-salat.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-item__content">
                                    <div class="product-item__meal">Перекус</div>
                                    <div class="product-item__name">Фруктовый салат</div>
                                    <p class="product-item__composition">огурцы, томаты черри, болгарский перец, салат
                                        айсберг, маслины, оливки, тофу, винный уксус, сироп тапинамбура, оливковое
                                        масло, специи</p>
                                </div>
                            </div>

                            <div class="product-item swiper-slide" data-hash="slide3">
                                <div class="product-item__image">
                                    <picture>
                                        <source type="image/webp" srcset="images/fruit-salat.webp">
                                        <source type="image/jpg" srcset="images/fruit-salat.png">
                                        <img src="images/fruit-salat.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-item__content">
                                    <div class="product-item__meal">Завтрак</div>
                                    <div class="product-item__name">Панкейки на кокосовом молоке с малиной</div>
                                    <p class="product-item__composition">овсяная крупа, овсяное молоко, яблоко</p>
                                </div>
                            </div>

                            <div class="product-item swiper-slide" data-hash="slide4">
                                <div class="product-item__image">
                                    <picture>
                                        <source type="image/webp" srcset="images/fruit-salat.webp">
                                        <source type="image/jpg" srcset="images/fruit-salat.png">
                                        <img src="images/fruit-salat.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-item__content">
                                    <div class="product-item__meal">Завтрак</div>
                                    <div class="product-item__name">Панкейки на кокосовом молоке с малиной</div>
                                    <p class="product-item__composition">овсяная крупа, овсяное молоко, яблоко</p>
                                </div>
                            </div>

                            <div class="product-item swiper-slide" data-hash="slide5">
                                <div class="product-item__image">
                                    <picture>
                                        <source type="image/webp" srcset="images/fruit-salat.webp">
                                        <source type="image/jpg" srcset="images/fruit-salat.png">
                                        <img src="images/fruit-salat.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-item__content">
                                    <div class="product-item__meal">Завтрак</div>
                                    <div class="product-item__name">Панкейки на кокосовом молоке с малиной</div>
                                    <p class="product-item__composition">овсяная крупа, овсяное молоко, яблоко</p>
                                </div>
                            </div>

                            <div class="product-item swiper-slide" data-hash="slide6">
                                <div class="product-item__image">
                                    <picture>
                                        <source type="image/webp" srcset="images/fruit-salat.webp">
                                        <source type="image/jpg" srcset="images/fruit-salat.png">
                                        <img src="images/fruit-salat.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-item__content">
                                    <div class="product-item__meal">Завтрак</div>
                                    <div class="product-item__name">Панкейки на кокосовом молоке с малиной</div>
                                    <p class="product-item__composition">овсяная крупа, овсяное молоко, яблоко</p>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="tabs__content">Вт, 16</div>

                <div class="tabs__content">Ср, 17</div>

                <div class="tabs__content"></div>

                <div class="tabs__content"></div>

                <div class="tabs__content"></div>

                <div class="tabs__content"></div>
            </div>
        </section>

        <section class="why-us">
            <div class="why-us__heading">
                <h2 class="why-us__ttl section-ttl">Почему Geel Food</h2>
                <p class="section-descr why-us__descr">Очень вкусные, полезные и разнообразные рационы, плюс </p>
            </div>

            <div class="why-us__container-slider js-why-us-swiper">
                <div class="why-us__list swiper-wrapper">
                    <div class="why-us-item swiper-slide" data-hash="why-us-item1">
                        <div class="why-us-item__img">
                            <img src="images/img-why-us01.svg" alt="">
                        </div>
                        <span class="why-us-item__ttl">Экологичность</span>
                        <p class="why-us-item__description">Каждый понедельник курьеры принимают пластиковую упаковку на
                            вторичную переработку</p>
                    </div>

                    <div class="why-us-item swiper-slide" data-hash="why-us-item2">
                        <div class="why-us-item__img">
                            <img src="images/img-why-us02.svg" alt="">
                        </div>
                        <span class="why-us-item__ttl">Перенос даты</span>
                        <p class="why-us-item__description">Мы перенесём ваш рацион на любое количество времени и
                            возобновим его, когда будет удобно</p>
                    </div>

                    <div class="why-us-item swiper-slide" data-hash="why-us-item3">
                        <div class="why-us-item__img">
                            <img src="images/img-why-us03.svg" alt="">
                        </div>
                        <span class="why-us-item__ttl">Возврат оплаты</span>
                        <p class="why-us-item__description">Если что-то не понравилось в течение первой недели, мы
                            вернём деньги за оставшиеся дни</p>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section class="reviews" id="review">
            <h2 class="reviews__ttl section-ttl">Ваши отзывы <br class="visible-sm visible-xs">делают нас лучше</h2>

            <div class="reviews__container-slider js-reviews-swiper">
                <div class="reviews__list swiper-wrapper">
                    <div class="reviews-item swiper-slide" data-hash="review1">
                        <div class="reviews-item__author">
                            <div class="reviews-item__ava">
                                <img src="images/ava-unnamed.png" alt="">
                            </div>
                            <div class="reviews-item__author-name">Валерия К.</div>
                            <div class="reviews-item__rating">
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <svg class="icon-src icon-yandex">
                                <use xlink:href="#icon-yandex"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                        <div class="reviews-item__txt">
                            <p>Из-за вас, хулиганы, разучилась готовить сама 😁 Зачем так все вкусно?! Очень удобная
                                утренняя доставка - зачастую, ребята привозят пакетище раньше 9 утра, что ооочень
                                радует! А выбор рациона питания со всеми КБЖУ - огонёк! Каждый клан найдёт свое 😁😁
                                Единственное пожелание - опция исключения глютена при выборе рациона 🙏</p>
                        </div>
                        <div class="reviews-item__src">
                            <svg class="icon-src icon-yandex">
                                <use xlink:href="#icon-yandex"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                    </div>

                    <div class="reviews-item swiper-slide" data-hash="review2">
                        <div class="reviews-item__author">
                            <div class="reviews-item__ava">
                                <div class="reviews-item__ava-circle" style="background-color: #f99c6c;">П</div>
                            </div>
                            <div class="reviews-item__author-name">Полина Гуляева</div>
                            <div class="reviews-item__rating">
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <svg class="icon-src icon-yandex">
                                <use xlink:href="#icon-yandex"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                        <div class="reviews-item__txt">
                            <p>Все так вкусно и качественно! Ушла от Goodfood academy к Geel food и ни разу не ошиблась!
                                Спасибо Goodfood academy за то что были такими плохими, что я нашла Geel food!! Доставка
                                вовремя, без лишних звонков, вопросов, еда вкуснейшая!! Цены отличные! Чувствую я с вами
                                надолго ❤️</p>
                        </div>
                        <div class="reviews-item__src">
                            <svg class="icon-src icon-yandex">
                                <use xlink:href="#icon-yandex"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                    </div>

                    <div class="reviews-item swiper-slide" data-hash="review3">
                        <div class="reviews-item__author">
                            <div class="reviews-item__ava">
                                <div class="reviews-item__ava-circle" style="background-color: #db8dcf;">В</div>
                            </div>
                            <div class="reviews-item__author-name">Вика Музычка</div>
                            <div class="reviews-item__rating">
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <svg class="icon-src icon-google">
                                <use xlink:href="#icon-google"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                        <div class="reviews-item__txt">
                            <p>Еда вкусная, разнообразная. Цена относительно аналогичных компаний самая демократичная.
                                Курьеры всегда привозят еду в термо-пакете. Клиентской сервис работает на отлично.
                                Решают все вопросы моментально. 5+ за всё. Буду пользоваться.</p>
                        </div>
                        <div class="reviews-item__src">
                            <svg class="icon-src icon-google">
                                <use xlink:href="#icon-google"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                    </div>

                    <div class="reviews-item swiper-slide" data-hash="review4">
                        <div class="reviews-item__author">
                            <div class="reviews-item__ava">
                                <div class="reviews-item__ava-circle" style="background-color: #db8dcf;">В</div>
                            </div>
                            <div class="reviews-item__author-name">Syd Cristal</div>
                            <div class="reviews-item__rating">
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                                <svg class="icon icon-star">
                                    <use xlink:href="#icon-star"></use>
                                </svg>
                            </div>
                            <svg class="icon-src icon-yandex">
                                <use xlink:href="#icon-yandex"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                        <div class="reviews-item__txt">
                            <p>Замечательный сервис, вкусная разнообразная и сбалансированная еда, адекватные цены,
                                отзывчивый менеджер. Питаюсь уже 4ый месяц и рекоммендую друзьям.</p>
                        </div>
                        <div class="reviews-item__src">
                            <svg class="icon-src icon-yandex">
                                <use xlink:href="#icon-yandex"></use>
                            </svg>
                            <div class="reviews-item__date">8 февраля 2021</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-pagination"></div>
                <div class="swiper-scrollbar"></div>
            </div>

            <div class="aggregate-rating">
                <div class="aggregate-rating__item">
                    <div class="aggregate-rating__placeholder">
                        <img src="images/rating-yandex.png" alt="">
                    </div>
                    <a href="" class="link-primary">Смотреть на Яндексе</a>
                </div>

                <div class="aggregate-rating__item">
                    <div class="aggregate-rating__placeholder">
                        <img src="images/rating-google.png" alt="">
                    </div>
                    <a href="" class="link-primary">Смотреть в Гугле</a>
                </div>
            </div>
        </section>
    </div>
</main>

<!--<a href="#main-top" class="btn-top js-back-top">Вернуться наверх</a>-->
<div class="bottom-blocks">
    <div class="container">
        <section class="certificate">
            <div class="certificate__txt">
                <h3 class="section-ttl certificate__ttl">Дарите свободное время сертификатом на&nbsp;питание</h3>
                <p class="section-descr certificate__descr">Экономия до 3-x часов времени в день. <br>Мы всё приготовим
                    и доставим</p>
                <button type="button" data-popup="#modal-calc" class="btn-primary btn-lg">расчёт стоимости
                    <svg class="icon icon-arrow-next">
                        <use xlink:href="#icon-arrow-next"></use>
                    </svg>
                </button>
            </div>

            <div class="certificate__img">
                <img src="images/gift-picture.svg" alt="">
            </div>
        </section>

        <section class="faq" id="faq">
            <header class="faq__heading">
                <h3 class="faq__ttl section-ttl">Остались вопросы? <br>Поищите здесь</h3>
                <p class="section-descr faq__descr">Если не смогли найти ответ, свяжитесь <br
                    class="hidden-sm hidden-xs">с нами, мы ответим вам лично</p>
                <div class="faq__contact">
                    <a href="tel:+74953694179">+7 (495) 369-41-79</a><br>
                    <div class="faq__contact-description">ежедневно с 09:00 до 22:00</div>
                    <a href="mailto:help@geelfood.ru">help@geelfood.ru</a>
                </div>
            </header>

            <div class="faq__content">
                <div class="faq-item js-faq-open-close">
                    <div class="faq-item__q js-faq-opener">Что по доставке?</div>
                    <div class="faq-item__a js-faq-slide">
                        <p>Обычно подсчётом занимаются специалисты по питанию, но вы можете просто воспользоваться нашим
                            <a href="" data-popup="#modal-calc">калькулятором</a> для расчёта суточной нормы калорий</p>
                    </div>
                </div>

                <div class="faq-item js-faq-open-close">
                    <div class="faq-item__q js-faq-opener">Когда ждать первую доставку?</div>
                    <div class="faq-item__a js-faq-slide">
                        <p>Обычно подсчётом занимаются спеиалисты по питанию, но вы можете просто воспользоваться нашим
                            <a href="" data-popup="#modal-calc">калькулятором</a> для расчёта суточной нормы калорий</p>
                    </div>
                </div>

                <div class="faq-item js-faq-open-close">
                    <div class="faq-item__q js-faq-opener">Как определить количество калорий?</div>
                    <div class="faq-item__a js-faq-slide">
                        <p>Обычно подсчётом занимаются спеиалисты по питанию, но вы можете просто воспользоваться нашим
                            <a href="" data-popup="#modal-calc">калькулятором</a> для расчёта суточной нормы калорий</p>
                    </div>
                </div>

                <div class="faq-item js-faq-open-close">
                    <div class="faq-item__q js-faq-opener">Как перенести оплаченные дни?</div>
                    <div class="faq-item__a js-faq-slide">
                        <p>Обычно подсчётом занимаются спеиалисты по питанию, но вы можете просто воспользоваться нашим
                            <a href="" data-popup="#modal-calc">калькулятором</a> для расчёта суточной нормы калорий</p>
                    </div>
                </div>

                <div class="faq-item js-faq-open-close">
                    <div class="faq-item__q js-faq-opener">Как перейти на другой рацион?</div>
                    <div class="faq-item__a js-faq-slide">
                        <p>Обычно подсчётом занимаются спеиалисты по питанию, но вы можете просто воспользоваться нашим
                            <a href="" data-popup="#modal-calc">калькулятором</a> для расчёта суточной нормы калорий</p>
                    </div>
                </div>

                <div class="faq-item js-faq-open-close">
                    <div class="faq-item__q js-faq-opener">Как происходит закуп продуктов?</div>
                    <div class="faq-item__a js-faq-slide">
                        <p>Обычно подсчётом занимаются спеиалисты по питанию, но вы можете просто воспользоваться нашим
                            <a href="" data-popup="#modal-calc">калькулятором</a> для расчёта суточной нормы калорий</p>
                    </div>
                </div>

                <div class="faq-item js-faq-open-close">
                    <div class="faq-item__q js-faq-opener">Что, если не понравится?</div>
                    <div class="faq-item__a js-faq-slide">
                        <p>Обычно подсчётом занимаются спеиалисты по питанию, но вы можете просто воспользоваться нашим
                            <a href="" data-popup="#modal-calc">калькулятором</a> для расчёта суточной нормы калорий</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    //= templates-parts/footer.html
</div>

//= templates-parts/cookie.html

//= templates-parts/modal-calc.html
//= templates-parts/modal-callback.html
//= templates-parts/modal-callback-ready.html
//= templates-parts/modal-order.html

<script defer src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script defer src="js/check.webp.js"></script>
<script defer src="js/libs/bodyScrollLock.min.js"></script>
<script defer src="js/jquery.popup.js"></script>
<script defer src="js/jquery.tabs.js"></script>
<script defer src="js/jquery.open-close.js"></script>
<script defer src="js/script.js"></script>
<script defer src="js/libs/swiper-bundle.min.js"></script>
<script defer src="js/sliders.js"></script>
</body>
</html>
