<div class="cookie">
    <p class="cookie__txt">Мы используем cookies для быстрой и удобной работы сайта. Продолжая пользоваться сайтом, вы принимаете условия <a
        href="">обработки персональных данных</a></p>
    <button type="button" class="btn-default cookie__btn-close"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg></button>
</div>
