<footer class="footer">
    <div class="container footer__container">
        <p class="footer__left footer-slogan">Cервис доставки <br class="hidden-sm hidden-xs">растительного питания</p>

        <div class="footer__center footer-support">
            <p class="footer-support__schedule">Поддержка работает <br class="visible-sm visible-xs">ежедневно с 9:00 до 22:00</p>
            <div class="footer__links">
                <a href="">в Telegram</a>
                <a href="">в WhatsApp</a><a href="mailto:help@geelfood.ru">help@geelfood.ru</a>
                <a href="tel:+74953694179">+7 495 369 41 79</a>
            </div>
        </div>

        <ul class="footer__right social">
            <li><a href=""><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
            <li><a href=""><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
            <li><a href=""><svg class="icon icon-vk"><use xlink:href="#icon-vk"></use></svg></a></li>
        </ul>

        <p class="footer__left copyrights">© 2021 Geel Food</p>

        <div class="footer__center footer-contacts">
            ООО “ДЖИЛФУД” <br class="visible-sm visible-xs"> ИНН 9705118230 <br>
            115035, Москва, Набережная <br class="visible-sm visible-xs">Космодамианская, д. 28, стр. 8
        </div>

        <div class="footer__right footer-policy-links">
            <a href="">Политика конфиденциальности</a><br>
            <a href="">Публичная оферта</a>
        </div>
    </div>
</footer>
