<form id="RegisterForm" class="cta-form">
    <div class="error" id="register-domain-error" style="display:none;"></div>

    <label class="cta-form__label" for="RegisterForm_contact">Email</label>
    <input type="email" class="form-control" id="RegisterForm_contact" name="RegisterForm[contact]">
    <div class="error" id="register-contact-error" style="display:none;"></div>

    <input type="checkbox" name="RegisterForm[agree]" id="agree" value="1">
    <label class="cta-form__terms" for="agree">Нажимая на кнопку, я принимаю
        <a href="">Пользовательское соглашение</a> и <a href="">Бонусную политику</a>
    </label>
    <div class="error" id="register-agree-error" style="display:none;">Вы должны согласится с положениями и условиями</div>

    <div class="text-center">
        <button id="register" type="submit" class="cta-form__btn btn-primary">Играть</button>
        <p class="cta-form__txt">Вы уже зарегистрированы? <a href="">Войти</a></p>
    </div>
</form>
