<header class="header">
    <div class="header__container container--md">
        <a href="">
            <picture>
                <source type="image/svg+xml" srcset="images/logo-mob.svg" media="(max-width: 1279px)">
                <source type="image/svg+xml" srcset="images/logo.svg" media="(min-width: 1280px)">
                <img class="logo" src="images/logo.svg" alt="Geel Food">
            </picture>
        </a>

        <nav class="main-nav mobile-menu">
            <ul class="main-nav__list">
                <li><a href="" class="main-nav__link">Рационы</a></li>
                <li><a href="" class="main-nav__link">Отзывы</a></li>
                <li><a href="" class="main-nav__link">FAQ</a></li>
                <li><a href="" class="main-nav__link">Сертификат</a></li>
                <li><a href="" class="main-nav__link">Контакты</a></li>
            </ul>
        </nav>

        <div class="header__btns">
            <b><a href="tel:+74953694179" class="header__phone">+7 495 369 41 79</a></b>

            <button data-popup="#modal-callback" class="btn-callback btn-primary" type="button">
                Обратный звонок
                <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg>
            </button>
        </div>

        <div class="navbar__btn js--menu-trigger" aria-expanded="false" aria-label="Menu Button" role="button">
            <span class="bar"></span>
        </div>
    </div>
</header>
