<svg xmlns="http://www.w3.org/2000/svg" style="width: 0; height: 0; position: absolute;"  class="icons-sprite">
    <symbol id="icon-arrow-circle" viewBox="-285 408.9 24 24">
        <title>Icon arrow-circle</title>
        <path d="M-274.5 426.1c-.2 0-.4-.1-.5-.2-.3-.3-.3-.7 0-1l4.1-4-4.1-4c-.3-.3-.3-.7 0-1s.7-.3 1 0l4.6 4.5c.1.1.2.3.2.5s-.1.4-.2.5l-4.6 4.5c-.1.1-.3.2-.5.2z"/><path d="M-273 432.4c-6.3 0-11.5-5.2-11.5-11.5s5.2-11.5 11.5-11.5 11.5 5.2 11.5 11.5-5.2 11.5-11.5 11.5zm0-22c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5 10.5-4.7 10.5-10.5-4.7-10.5-10.5-10.5z"/>
    </symbol>
    <symbol id="icon-arrow-next" viewBox="0 0 6 10">
        <title>Icon arrow-next</title>
        <path d="M1 9.7c-.2 0-.4-.1-.5-.2-.3-.3-.3-.7 0-1L4 5 .5 1.5C.2 1.2.2.8.5.5s.7-.3 1 0l4 4c.3.3.3.7 0 1l-4 4c-.1.1-.3.2-.5.2z"/>
    </symbol>
    <symbol id="icon-cross-solid" viewBox="-286 409.9 22 22">
        <title>Icon cross-solid</title>
        <circle cx="-275" cy="420.9" r="11"/><path d="M-270.4 426.1c-.2 0-.4-.1-.5-.2l-9.1-9.1c-.3-.3-.3-.7 0-1s.7-.3 1 0l9.1 9.1c.3.3.3.7 0 1-.2.1-.3.2-.5.2z" fill="#fff"/><path d="M-279.5 426.1c-.2 0-.4-.1-.5-.2-.3-.3-.3-.7 0-1l9.1-9.1c.3-.3.7-.3 1 0 .3.3.3.7 0 1l-9.1 9.1c-.1.1-.3.2-.5.2z" fill="#fff"/>
    </symbol>
    <symbol id="icon-cross" viewBox="-285 408.9 24 24">
        <title>Icon cross</title>
        <path d="M-273 432.4c-6.3 0-11.5-5.2-11.5-11.5s5.2-11.5 11.5-11.5 11.5 5.2 11.5 11.5-5.2 11.5-11.5 11.5zm0-22c-5.8 0-10.5 4.7-10.5 10.5s4.7 10.5 10.5 10.5 10.5-4.7 10.5-10.5-4.7-10.5-10.5-10.5z"/><path d="M-268.4 426.1c-.2 0-.4-.1-.5-.2l-9.1-9.1c-.3-.3-.3-.7 0-1 .3-.3.7-.3 1 0l9.1 9.1c.3.3.3.7 0 1-.2.1-.3.2-.5.2z"/><path d="M-277.5 426.1c-.2 0-.4-.1-.5-.2-.3-.3-.3-.7 0-1l9.1-9.1c.3-.3.7-.3 1 0s.3.7 0 1l-9.1 9.1c-.2.1-.3.2-.5.2z"/>
    </symbol>
    <symbol id="icon-facebook" viewBox="0 0 15 30">
        <title>Icon facebook</title>
        <path d="M12.3 5H15V.2c-.5-.1-2.1-.2-4-.2-3.9 0-6.6 2.5-6.6 7v4.2H0v5.3h4.4V30h5.3V16.6h4.2l.7-5.3H9.7V7.6c0-1.6.4-2.6 2.6-2.6z"/>
    </symbol>
    <symbol id="icon-google" viewBox="-147 369.1 300 102.8">
        <title>Icon google</title>
        <path d="M-18.6 421.1c0 14.2-11.1 24.7-24.8 24.7s-24.8-10.5-24.8-24.7c0-14.3 11.1-24.7 24.8-24.7s24.8 10.4 24.8 24.7zm-10.9 0c0-8.9-6.4-15-13.9-15s-13.9 6.1-13.9 15c0 8.8 6.4 15 13.9 15s13.9-6.2 13.9-15z" fill="#ea4335"/><path d="M34.8 421.1c0 14.2-11.1 24.7-24.8 24.7s-24.8-10.5-24.8-24.7c0-14.3 11.1-24.7 24.8-24.7s24.8 10.4 24.8 24.7zm-10.8 0c0-8.9-6.4-15-13.9-15s-13.9 6.1-13.9 15c0 8.8 6.4 15 13.9 15s13.9-6.2 13.9-15z" fill="#fbbc05"/><path d="M86 397.9v44.3c0 18.2-10.7 25.7-23.5 25.7-12 0-19.2-8-21.9-14.5l9.4-3.9c1.7 4 5.8 8.8 12.4 8.8 8.1 0 13.2-5 13.2-14.5v-3.5h-.4c-2.4 3-7.1 5.6-13 5.6-12.3 0-23.6-10.7-23.6-24.6 0-13.9 11.3-24.8 23.6-24.8 5.9 0 10.6 2.6 13 5.5h.4v-4l10.4-.1zm-9.6 23.3c0-8.7-5.8-15-13.2-15-7.5 0-13.7 6.4-13.7 15s6.3 14.9 13.7 14.9c7.4 0 13.2-6.3 13.2-14.9z" fill="#4285f4"/><path d="M102.9 372v72.3H92.4V372h10.5z" fill="#34a853"/><path d="M144.1 429.2l8.4 5.6c-2.7 4-9.3 10.9-20.6 10.9-14 0-24.5-10.8-24.5-24.7 0-14.7 10.6-24.7 23.3-24.7 12.8 0 19.1 10.2 21.1 15.7l1.1 2.8-33 13.7c2.5 5 6.5 7.5 12 7.5 5.6.1 9.4-2.7 12.2-6.8zm-25.9-8.8l22.1-9.2c-1.2-3.1-4.9-5.2-9.2-5.2-5.5 0-13.1 4.8-12.9 14.4z" fill="#ea4335"/><path d="M-108.1 414.7v-10.5h35.3c.3 1.8.5 4 .5 6.3 0 7.9-2.1 17.6-9.1 24.5-6.7 7-15.3 10.7-26.7 10.7-21.1 0-38.9-17.2-38.9-38.3 0-21.1 17.8-38.3 38.9-38.3 11.7 0 20 4.6 26.3 10.6l-7.4 7.4c-4.5-4.2-10.6-7.5-18.9-7.5-15.4 0-27.5 12.4-27.5 27.8s12.1 27.8 27.5 27.8c10 0 15.7-4 19.3-7.7 3-3 4.9-7.2 5.7-13l-25 .2z" fill="#4285f4"/>
    </symbol>
    <symbol id="icon-instagram" viewBox="0 0 30 30">
        <title>Icon instagram</title>
        <path d="M29.2 5.2c.4.9.6 2 .7 3.6.1 1.6.1 2.1.1 6.2s0 4.6-.1 6.2c-.1 1.6-.3 2.7-.7 3.6-.8 2-2.4 3.6-4.4 4.4-.9.4-2 .6-3.6.7-1.6.1-2.1.1-6.2.1s-4.6 0-6.2-.1c-1.6-.1-2.7-.3-3.6-.7-1-.4-1.9-1-2.7-1.7-.8-.8-1.4-1.7-1.7-2.7-.4-.9-.6-2-.7-3.6C0 19.6 0 19.1 0 15s0-4.6.1-6.2c.1-1.6.3-2.7.7-3.6.4-1 1-1.9 1.7-2.7.8-.8 1.7-1.4 2.7-1.7.9-.4 2-.6 3.6-.7C10.4 0 10.9 0 15 0s4.6 0 6.2.1c1.6.1 2.7.3 3.6.7 1 .4 1.9 1 2.7 1.7.8.8 1.3 1.7 1.7 2.7zm-2.5 18.7c.2-.5.5-1.3.5-2.8.1-1.6.1-2.1.1-6.1 0-4 0-4.5-.1-6.1-.1-1.5-.3-2.3-.5-2.8-.2-.7-.6-1.2-1.1-1.7-.5-.5-1.1-.9-1.7-1.1-.5-.2-1.3-.5-2.8-.5-1.6-.1-2.1-.1-6.1-.1-4 0-4.5 0-6.1.1-1.4.1-2.2.3-2.7.5-.7.3-1.3.6-1.8 1.1-.5.5-.8 1.1-1.1 1.8-.2.5-.4 1.3-.5 2.8-.1 1.5-.1 2-.1 6s0 4.5.1 6.1c.1 1.5.3 2.3.5 2.8.2.7.6 1.2 1.1 1.7.5.5 1.1.9 1.7 1.1.5.2 1.3.5 2.8.5 1.6.1 2.1.1 6.1.1 4 0 4.5 0 6.1-.1 1.5-.1 2.3-.3 2.8-.5 1.3-.5 2.3-1.5 2.8-2.8zM7.2 15c0-4.3 3.5-7.8 7.8-7.8s7.8 3.5 7.8 7.8-3.5 7.8-7.8 7.8-7.8-3.5-7.8-7.8zm2.7 0c0 2.8 2.3 5.1 5.1 5.1s5.1-2.3 5.1-5.1-2.3-5.1-5.1-5.1-5.1 2.3-5.1 5.1zm12.9-6c1 0 1.8-.8 1.8-1.8s-.8-1.8-1.8-1.8-1.8.8-1.8 1.8.8 1.8 1.8 1.8z" fill-rule="evenodd" clip-rule="evenodd"/>
    </symbol>
    <symbol id="icon-plus" viewBox="0 0 100 100">
        <title>Icon plus</title>
        <path fill="#3FA595" d="M7 0h3v17H7z"/><path fill="#3FA595" d="M0 10h17V7H0z"/>
    </symbol>
    <symbol id="icon-star" viewBox="-287.1 413.2 17.1 16.3">
        <title>Icon star</title>
        <path d="M-278.9 427.3l-4.1 2.2c-.4.2-.8.1-1-.3-.1-.1-.1-.3-.1-.5l.8-4.6c0-.2 0-.5-.2-.7l-3.3-3.2c-.3-.3-.3-.8 0-1.1.1-.1.3-.2.4-.2l4.6-.7c.2 0 .5-.2.6-.4l2.1-4.2c.2-.4.6-.5 1-.3.2.1.3.2.3.3l2.1 4.2c.1.2.3.4.6.4l4.6.7c.4.1.7.4.6.9 0 .2-.1.3-.2.4l-3.3 3.2c-.2.2-.3.4-.2.7l.8 4.6c.1.4-.2.8-.6.9-.2 0-.3 0-.5-.1l-4.1-2.2c-.4-.1-.6-.1-.9 0z" fill="#ffc613"/>
    </symbol>
    <symbol id="icon-vk" viewBox="0 0 33 20">
        <title>Icon vk</title>
        <path d="M27.4 11.5c-.5-.7-.4-1 0-1.6 0 0 4.4-6.3 4.9-8.5.2-.8 0-1.4-1.1-1.4h-3.6c-.9 0-1.3.5-1.6 1 0 0-1.8 4.6-4.4 7.5-.8.9-1.2 1.1-1.7 1.1-.2 0-.6-.3-.6-1.1V1.4c0-.9-.3-1.4-1-1.4h-5.7c-.6 0-.9.4-.9.8 0 .9 1.3 1.1 1.4 3.6v5.4c0 1.2-.2 1.4-.7 1.4-1.2 0-4.2-4.6-6-9.8C6.1.4 5.8 0 4.8 0H1.2C.2 0 0 .5 0 1c0 1 1.2 5.8 5.7 12.2 3 4.4 7.2 6.7 11 6.7 2.3 0 2.6-.5 2.6-1.4 0-4.2-.2-4.6.9-4.6.5 0 1.5.3 3.6 2.4 2.5 2.5 2.9 3.6 4.2 3.6h3.6c1 0 1.5-.5 1.2-1.6-.6-2-5.2-6.5-5.4-6.8z"/>
    </symbol>
    <symbol id="icon-yandex" viewBox="-122 353.9 350 135">
        <title>Icon yandex</title>
        <path d="M-87 427.5l-20 44.9h-14.6l22-48c-10.3-5.2-17.2-14.8-17.2-32.3 0-24.6 15.6-36.9 34.1-36.9h18.9v117.2h-12.6v-44.9H-87zm10.5-61.7h-6.7c-10.2 0-20 6.7-20 26.2 0 18.9 9 24.9 20 24.9h6.7v-51.1z" fill="red"/><path d="M-3.1 389.7v82.6h-12.6v-37.1h-19v37.1h-12.8v-82.6h12.8v35.1h19v-35.1h12.6zm65.8 98.9H51.2v-16.2H15.8v16.2H4.3v-26.7h5.1c7.5-17.5 8.4-43.1 8.4-65.1v-7.1h38.4v72.1h6.6v26.8zm-19.2-88.5H29.2v1.5c0 17.4-.8 42.8-7.7 60.3h22v-61.8zm54.4 73.4c-17.1 0-27.5-13.6-27.5-39 0-26.6 7.4-45.9 24.9-45.9 13.8 0 22.8 10.3 22.8 38.4v7.1H83.7c0 18.7 5.2 28.5 15.4 28.5 7.2 0 13-3.3 16.2-5.6l3 9.8c-5.9 4.5-13 6.9-20.4 6.7zm-14.1-50H105c0-14.1-2.3-24.4-9.7-24.4-7.9 0-10.6 9.7-11.5 24.4zm60.2 7.7v41.2h-12.8v-82.6H144V428l19.8-38.2h13l-20.5 38.9 23.4 43.8h-13.9L144 431.2zm37.4-.1c0-25.9 10-42.5 29.4-42.5 7.4 0 11.6 2 15.2 4.3l-1.8 12.1c-3.4-3-8.4-5.7-13.6-5.7-9.2 0-15.7 10.3-15.7 31.2 0 20.7 4.9 32.5 15.2 32.5 5.1.1 10.1-1.7 13.9-5.1l3 9.5c-4.7 4.2-10.9 6.4-17.2 6.2-17.7-.1-28.4-14.3-28.4-42.5z"/>
    </symbol>
</svg>