<div class="modal modal-calc" id="modal-calc" tabindex="-1" role="dialog" aria-labelledby="modal-calc" aria-hidden="true">
    <div class="modal__btns">
        <button type="button" class="btn-close js-popup-close" aria-label="Закрыть"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg></button>
    </div>

    <div class="modal__content">
        <div class="step">
            <div class="modal__heading">
                <h4 class="modal__ttl">Калькулятор калорий</h4>
            </div>

            <form action="" class="general-form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="custom-select form-wrap">
                            <select name="" id="target" class="js-select-custom" data-placeholder="">
                                <option></option>
                                <option>Поддержание формы</option>
                                <option>Поддержание формы</option>
                            </select>
                            <label for="target" class="form-label">Цель</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="custom-select form-wrap">
                            <select name="" id="activity" class="js-select-custom" data-placeholder="">
                                <option></option>
                                <option>Сидячий образ жизни</option>
                                <option>Сидячий образ жизни</option>
                            </select>
                            <label for="activity" class="form-label">Активность</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <div class="custom-select form-wrap">
                            <select name="" id="sex" class="js-select-custom error" required data-placeholder="">
                                <option></option>
                                <option>Женщина</option>
                                <option>Мужчина</option>
                            </select>
                            <label for="sex" class="form-label">Пол *</label>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <div class="form-wrap">
                            <input class="general-form__field form-control error" type="text" placeholder="" required id="age">
                            <label for="age" class="form-label">Возраст *</label>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="text" placeholder="" required id="weight">
                            <label for="weight" class="form-label">Вес *</label>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="text" placeholder="" required id="height">
                            <label for="height" class="form-label">Рост *</label>
                        </div>
                    </div>
                </div>

                <div class="general-form__bottom modal-calc__bottom">
                    <div class="general-form__btns">
                        <button type="submit" class="general-form__cta btn-primary btn-lg">рассчитать <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg></button>
                    </div>

                    <div class="calc-norm">
                        <div class="calc-norm__ttl">Ваша норма</div>
                        <div class="calc-norm__value">1 600 ккал в день</div>
                    </div>
                </div>
            </form>
        </div>

        <div class="step" style="display: none;">
            <div class="calc-total">
                <div class="calc-total__calories">1600</div>
                <div class="calc-total__calories-txt">ккал</div>
                <p class="calc-total__note">Это оптимальное количество калорий, которое вам требуется</p>

                <div class="calc-total__btns">
                    <a href="" class="link-primary--back">шаг назад</a>
                    <button type="button" class="js-popup-close btn-third btn-lg">
                        <img class="icon-hand" src="images/icon-hand.png" width="17" alt="Icon hand">
                        окей
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal__footer">
        <span class="modal__support">Поддержка с 9:00 до 22:00 <a href="tel:+74953694179">+7 495 369 41 79</a></span>
    </div>
</div>
