<div class="modal modal-order" id="modal-order" tabindex="-1" role="dialog" aria-labelledby="modal-order" aria-hidden="true">
    <div class="modal__btns">
        <button type="button" class="btn-close js-popup-close" aria-label="Закрыть"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg></button>
    </div>

    <div class="modal__content">
        <div class="step" style="display: none;">
            <div class="modal__heading">
                <h4 class="modal__ttl">Контактные данные</h4>
                <p class="modal-order__top-txt">(шаг 1 из 4)</p>
                <div class="pagination">
                    <span class="pagination__item is-active"></span>
                    <span class="pagination__item"></span>
                    <span class="pagination__item"></span>
                    <span class="pagination__item"></span>
                </div>
            </div>

            <form action="" class="general-form">
                <div class="form-wrap">
                    <input class="general-form__field form-control error" type="text" id="full-name" required placeholder="">
                    <label class="form-label" for="full-name">Фамилиля, имя и отчество *</label>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="tel" id="tel" placeholder="" required>
                            <label for="tel" class="form-label">Номер телефона *</label>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="email" id="email" placeholder="" required>
                            <label for="email" class="form-label">Электронная почта *</label>
                        </div>
                    </div>
                </div>

                <div class="general-form__bottom">
                    <p class="general-form__btm-txt">Нажимая кнопку «Далее», я даю <a href="">согласие на обработку персональных данных</a> и подтверждаю, что ознакомлен с
                        <a href="">публичной офертой</a></p>
                    <div class="general-form__btns">
                        <button type="submit" class="general-form__cta btn-primary btn-lg">далее <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="step" style="display: none;">
            <div class="modal__heading">
                <h4 class="modal__ttl">Адрес доставки</h4>
                <p class="modal-order__top-txt">(шаг 2 из 4)</p>
                <div class="pagination">
                    <span class="pagination__item"></span>
                    <span class="pagination__item is-active"></span>
                    <span class="pagination__item"></span>
                    <span class="pagination__item"></span>
                </div>
            </div>

            <form action="" class="general-form">
                <div class="form-wrap">
                    <input class="general-form__field form-control" type="text" id="street" placeholder="" required>
                    <label for="street" class="form-label">Улица *</label>
                </div>

                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="text" id="house" placeholder="" required>
                            <label for="house" class="form-label">Дом *</label>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-4">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" id="flat" type="text" placeholder="">
                            <label for="flat" class="form-label">Квартира</label>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-4">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="text" id="stage" placeholder="">
                            <label for="stage" class="form-label">Этаж</label>
                        </div>
                    </div>
                </div>

                <div class="general-form__bottom">
                    <p class="general-form__btm-txt">Доставка за МКАД от 250 рублей в день. <br>Точную стоимость уточняйте у менеджера</p>

                    <div class="general-form__btns">
                        <a href="" class="link-primary--back">шаг назад</a>
                        <button type="submit" class="general-form__cta btn-primary btn-lg">далее <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="step" style="display: none;">
            <div class="modal__heading">
                <h4 class="modal__ttl">График доставки</h4>
                <p class="modal-order__top-txt">(шаг 3 из 4)</p>
                <div class="pagination">
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-active"></span>
                    <span class="pagination__item"></span>
                </div>
            </div>

            <form action="" class="general-form">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="custom-select form-wrap">
                            <select name="" id="delivery-frequency" class="js-select-custom" data-placeholder="">
                                <option></option>
                                <option>На каждый день</option>
                                <option>На два дня вперёд</option>
                            </select>
                            <label for="delivery-frequency" class="form-label">Частота доставки *</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-12">
                        <div class="custom-select form-wrap">
                            <select name="" id="delivery-time" class="js-select-custom" data-placeholder="">
                                <option></option>
                                <option>с 7:00 до 9:00</option>
                                <option>с 9:00 до 11:00</option>
                            </select>
                            <label for="delivery-time" class="form-label">Время доставки</label>
                        </div>
                    </div>

                    <div class="col-xs-12 form-wrap">
                        <input class="general-form__field form-control" id="date" type="text" placeholder="" value="9, 15, 16 апреля">
                        <label class="form-label" for="date">Индивидуальный график по датам</label>
                    </div>
                </div>

                <div class="general-form__bottom">
                    <p class="general-form__btm-txt">Адрес или график можно изменить <br>накануне дня доставки до 18:00</p>

                    <div class="general-form__btns">
                        <a href="" class="link-primary--back">шаг назад</a>
                        <button type="submit" class="general-form__cta btn-primary btn-lg">далее <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="step" style="">
            <div class="modal__heading">
                <h4 class="modal__ttl">Завершение заказа</h4>
                <p class="modal-order__top-txt">(шаг 4 из 4)</p>
                <div class="pagination">
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-active"></span>
                </div>
            </div>

            <form action="" class="general-form">
                <div class="row">
                    <div class="col-xs-12 col-md-6 order-xs-1">
                        <div class="custom-select form-wrap">
                            <select name="" id="cutlery" class="js-select-custom" data-placeholder="">
                                <option></option>
                                <option>На каждый приём пищи</option>
                                <option>На два дня вперёд</option>
                            </select>
                            <label for="cutlery" class="form-label">Количество приборов</label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="text" id="certificate" placeholder="">
                            <label for="certificate" class="form-label">Сертификат</label>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6 order-xs-2">
                        <div class="custom-select form-wrap">
                            <select name="" id="payment-method" class="js-select-custom" data-placeholder="">
                                <option></option>
                                <option>Онлайн на сайте</option>
                                <option>Онлайн на сайте</option>
                            </select>
                            <label for="payment-method" class="form-label">Метод оплаты</label>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-wrap">
                            <input class="general-form__field form-control" type="tel" id="promocode" placeholder="">
                            <label for="promocode" class="form-label">Промокод</label>
                        </div>
                    </div>
                </div>

                <div class="general-form__bottom">
                    <div class="general-form__btns">
                        <a href="" class="link-primary--back">шаг назад</a>

                        <div class="total-order-info">
                            <span class="modal-order__product-diet">Сиганский рацион</span>
                            <div class="modal-order__calories diet-total-param">
                                <span class="diet-total-param__item">трёхразовое питание</span>
                                <span class="diet-total-param__item">на 5 дней</span>
                                <span class="diet-total-param__item">≈ 1200 ккал</span>
                                <span class="diet-total-param__item">без десерта</span>
                                <span class="diet-total-param__item">без приборов</span>
                            </div>
                            <div class="total-price">6 200 ₽</div>
                        </div>

                        <button type="submit" data-popup="#modal-order-done" class="general-form__cta btn-secondary btn-lg">оформить <span class="hidden-xs">&nbsp;заказ</span> <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="step modal__order-success" style="display: none;">
            <div class="modal__heading">
                <h4 class="modal__ttl">Успех! <br>
                    Спасибо за ваш заказ <br>
                    Ожидайте звонка</h4>

                <div class="pagination">
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-complete"></span>
                    <span class="pagination__item is-complete"></span>
                </div>
            </div>

            <div class="modal-order__success-img">
                <img src="images/img-order-complete.svg" alt="">
            </div>

            <p class="modal__top-txt">Мы позвоним в течение 15 минут <br>в рабочее время с 9:00 до 21:00</p>
            <p class="modal__order-success-txt hidden-sm hidden-xs">Если не перезвонили, пожалуйста, <br>свяжитесь с поддержкой</p>

            <button type="button" class="js-popup-close general-form__cta btn-third btn-lg">
                <img class="icon-hand" src="images/icon-hand.png" width="17" alt="Icon hand">
                окей
            </button>
        </div>
    </div>

    <!-- Когда активный/видимый последний шаг "Order Success" блок "modal__footer" нужно скрыть -->
    <div class="modal__footer modal-order__footer" style="">
        <div class="modal-order__product">
            <div class="modal-order__product-name">
                Seagan
                <img src="images/fish.png" width="17" alt="">
                <img src="images/honey.png" width="17" alt="">
                <img src="images/vegetable.png" width="17" alt="">
            </div>
            <span class="modal-order__product-diet">Сиганский рацион</span>
        </div>

        <div class="modal-order__calories diet-total-param">
            <span class="diet-total-param__item">трёхразовое питание</span>
            <span class="diet-total-param__item">на 5 дней</span>
            <span class="diet-total-param__item">≈ 1200 ккал</span>
            <span class="diet-total-param__item">без десерта</span>
            <span class="diet-total-param__item">без приборов</span>
        </div>
    </div>

    <span class="modal__support">Поддержка с 9:00 до 22:00 <a href="tel:+74953694179">+7 495 369 41 79</a></span>
</div>
