<div class="modal modal-callback" id="modal-callback" tabindex="-1" role="dialog" aria-labelledby="modal-callback" aria-hidden="true">
    <div class="modal__btns">
        <button type="button" class="btn-close js-popup-close" aria-label="Закрыть"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg></button>
    </div>

    <div class="modal__content">
        <h4 class="modal__ttl">Обратный звонок</h4>
        <p class="modal__top-txt">Мы позвоним в течение 15 минут в рабоче время с 9:00 до 21:00</p>

        <form action="" class="general-form form-callback">
            <div class="form-wrap">
                <input class="general-form__field form-control" id="callback:tel" type="tel" placeholder="" required>
                <label for="callback:tel" class="form-label">Номер телефона *</label>
            </div>

            <p class="general-form__btm-txt">Нажимая кнопку «Отправить», я соглашаюсь на <a href="">обработку персональных данных</a></p>
            <button type="submit" data-popup="#modal-callback-done" class="general-form__cta btn-primary btn-lg">отправить <svg class="icon icon-arrow-next"><use xlink:href="#icon-arrow-next"></use></svg></button>
        </form>
    </div>

    <div class="modal__footer">
        <span class="modal__support">Поддержка с 9:00 до 22:00 <a href="tel:+74953694179">+7 495 369 41 79</a></span>
    </div>
</div>
