<div class="modal modal-callback" id="modal-callback-done" tabindex="-1" role="dialog" aria-labelledby="modal-callback-done" aria-hidden="true">
    <div class="modal__btns">
        <button type="button" class="btn-close js-popup-close" aria-label="Закрыть"><svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg></button>
    </div>

    <div class="modal__content">
        <img class="modal-callback__img" src="images/img-callback.svg" alt="">
        <h4 class="modal__ttl">Ожидайте звонка</h4>
        <p class="modal__top-txt">Мы позвоним в течение 15 минут <br class="visible-sm visible-xs">в рабочее время с 9:00 до 21:00</p>
        <button type="button" class="js-popup-close general-form__cta btn-third btn-lg">
            <img class="icon-hand" src="images/icon-hand.png" width="17" alt="Icon hand">
            окей
        </button>
    </div>

    <div class="modal__footer">
        <span class="modal__support">Поддержка с 9:00 до 22:00 <a href="tel:+74953694179">+7 495 369 41 79</a></span>
    </div>
</div>
